<ion-view view-title="Verified" class="filters-white-bg">

	<ion-content class="aj-text verify-first">
		<!-- <br><br> -->
		<div class="list">
			<div class="item item-text-wrap ca rdTop no-border">
				<div class="row">
					<div class="col text-center">
						<img src="./img/verify_6.png" alt="" class="verify-step-img">
					</div>
				</div>
				<div class="row">
					<div class="center sm-text col subdued">
						<h2 class=" info-top" style="margin-top: 0;">Congratulations! <br>
							Your phone number has been successfully verified.
						</h2>
					</div>
				</div>
				<!-- <div class="list">
					<div class="row">
						<button
							class="button button-assertive center col subdued"
							ng-click="goBack()">
							Proceed
						</button>
					</div>
				</div> -->
		   	</div>
			<br><br>
		</div>
	</ion-content>

	<div class="verify-btm-bar bar bar-assertive bar-footer">
		<button
			class="button button-block button-assertive aj-btn"
			ng-click="goBack()">
			Proceed
		</button>
	</div>
</ion-view>
