<ion-view view-title="Verify your phone number">
	
	<ion-nav-buttons side="right">
		<button 
			class="button"
			ng-click="view.onNext()">
			Next
		</button>
	</ion-nav-buttons>

	<ion-content class="aj-text">

		</br></br>
		<img src="./img/verify2.png" class="center-img"/>
		<div class="list" ng-switch="view.display">
		
			<div ng-switch-when="noError">
				<div class="row">
					<div class="center sm-text col subdued">
					To complete your phone number verification, please enter the 6 digit activation code sent to +91{{view.user.phone}}
					</div>
			</div>
				

				</br>
				<label class=" item-input">
					<input type="tel" minlength="6" maxlength="6" ng-model="view.smsCode" class="input-border">
				</label>

				</br></br>
				<h4 ng-click="view.isExistingUser()" class="button-border">Resend the code?</h4>

			</div>

			<div ng-switch-when="maxAttempts">
				<br>
				<h3 class="normal">Sorry...</h3>

				</br>
				<div class="row">
					<div class="center sm-text col subdued">
					Exceeded maximum number of attempts. Please contact our support and enter code manually.
					</div>
			</div>
				

				</br>

				</br>
				<label class=" item-input">
					<input type="tel" minlength="6" maxlength="6" ng-model="view.smsCode" class="input-border">
				</label>
			</div>

			<aj-error 
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.onTapToRetry()">
			</aj-error>

		</div>

		<br><br>

	</ion-content>
</ion-view>
