<ion-view aj-remove-box-shadow>

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button 
			menu-toggle="left" 
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content>

	</ion-content>
	<ion-footer-bar class="bar-dark">
			<div class="row">
				<div class="col col-50 text-center" >
					<h5 class="margin-none text-light normal"><i class="ion ion-arrow-swap"></i> SORT</h5>
				</div>
				<div class="col col-50 text-center border-left">
					<h5 class="margin-none text-light normal"><i class="ion ion-funnel"></i> FILTER</h5>
				</div>
			</div>
	</ion-footer-bar>
</ion-view>