<ion-view
	aj-remove-box-shadow
	ng-init="view.init();">

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button
			menu-toggle="left"
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-refresher
			on-refresh="view.onPullToRefresh()"
			class="aj-refresher">
		</ion-refresher>

		<ion-list
			class="card-list list-inset"
			ng-switch-when="noError">

			<h4
				ng-if="view.noOffersMade"
				class="text-center subdued">
				You have not made any offers.
			</h4>

	       	<ion-item
	       		class="card-box"
	       		ng-repeat="request in view.requests"
	       		ng-click="view.offerDetails.show(request)">

	       		<div class="item-wrapper-nr">
					<div class="item-avatar border-none margin-none">
				        <img ng-src="{{request.product.images[0].src}}">
				    </div>
				    <h2 class="">{{request.product.name}}
					<i class="ion-record " id="{{App.humanize(request.offerStatus)}}"></i>
				    </h2> 

				    <b class="light-gray">
				    	<i class="ion-android-pin text-primary"></i> {{request.distanceFromCustomer.toFixed(2)}} kms away
				    </b>
				</div>

				<div class="row item border-none" >
			        <div class="col p-t-0">
			            <sm class="light-gray">Offer Price</sm><br>
			            <h3 class=" item-text-wrap margin-none big-txt ">
			            	<span class="WebRupee subdued">&#x20B9;</span>
			            	{{App.toINR(request.offerPrice)}}
			            </h3>
			        </div>
			        <div class="col p-t-0">
			        	<div class="pull-right">
				            <div class="offer"> {{request.request.offerCount}} </div>
				            <h4 class="offertxt light-gray"> No of offers</h4>
			           	</div>
			        </div>
			    </div>

			    <div class="item item-divider">
			        <div class="pull-right">
			       		<h3
							class="light-gray text-right margin-none"
							ng-if="request.offerStatus != 'unaccepted'">
							<b>Request {{App.humanize(request.request.status)}}</b>
						</h3>
			        </div>

			        <div
			        	class="pull-left"
			        	ng-if="request.request.status === 'open'">

			        	<i class="ion-android-stopwatch"></i>
	            	 	<b class="text-primary"
							aj-count-down
							created-at="request.request.createdAt"
							count-down-finish="view.onRequestExpiry(request)">
						</b>
			        </div>
			    </div>
			</ion-item>
		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()" class="error-wrapper">
		</aj-error>

		<div ng-if="view.gotAllOffers && view.requests.length !== 0">
			<h4 class="text-center subdued"> That's all folks, no more offers to display. </h4>
		</div>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll()"
			ng-if="view.canLoadMore"
			distance="1%"
			class="aj-refresher">
		</ion-infinite-scroll>

	</ion-content>

	<ion-footer-bar class="bar-light">
		<div class="row">
			<div class="col col-50 text-center" ng-click="view.showSortOptions()">

				<h5 class="margin-none  normal filter-txt">
					<i class="ion ion-arrow-swap"></i>
					SORT<br>
					<sm>{{view.sortName}}<sm>
				</h5>
			</div>

			<div class="col col-50 text-center border-left" ng-click="view.filter.openModal()">

				<h5 class="margin-none  normal filter-txt">
					<i class="ion ion-funnel"></i>
			 		FILTER
					<br>
					<sm>{{view.filter.excerpt}}<sm>
				</h5>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>

