<ion-view
	aj-remove-box-shadow
	ng-init="view.init()">

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button
			menu-toggle="left"
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-refresher
			on-refresh="view.onPullToRefresh()" 
			class="aj-refresher">
		</ion-refresher>

		<ion-spinner
			class="aj-spinner"
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list 
			ng-switch-when="noError" 
			class="card-list">

			<ion-item 
				ng-if="view.requests.length == 0;"
				class="item-text-wrap">
				You currently have no new requests
				Hint:Try increasing your delivery area range to view more requests
			</ion-item>

	       	<ion-item
	       		class="card"
	       		ng-repeat="request in view.requests | orderBy: view.sortBy"
	       		ng-click="view.requestDetails.show(request)"
	       		ng-class="(request.notification.hasSeen) ? '' : 'notify-alert'"
	       		ng-controller="EachRequestTimeCtrl">
				
				<div class="item-wrapper-nr">
					<div class="item-avatar border-none margin-none">
				        <img ng-src="{{request.product.image[0].src}}">
				    </div>
				    <h2>{{request.product.name}}</h2>
				    <p>{{request.radius.toFixed(2)}} kms radius</p>
			    </div>

				<div class="row item border-none" >
			        <div class="col  p-t-0">
			            <sm class="light-gray"> Local Price</sm><br>
			            <h3 
			            	class="item-text-wrap margin-none big-txt"
			            	ng-if="request.platformPrice !== ''">
			            	<span class="WebRupee subdued">&#x20B9;</span> {{App.toINR(request.platformPrice)}}
			            </h3>
			            <h3 
			            	class="item-text-wrap margin-none big-txt"
			            	ng-if="request.platformPrice === ''">
			            	N/A
			            </h3>
			        </div>
			        <div class="col p-t-0">
			        	<div class="pull-right">
				            <div class="offer"> {{request.offerCount}} </div>
				            <h4 class="offertxt light-gray"> No of offers</h4>
			           	</div>
			        </div>
			    </div>
			    <div class="item item-divider">
			        <div class="pull-right ">
			            <h3 class="margin-none "> Make an offer &nbsp;<i class="ion ion-log-out btn-danger"></i></h3>
			        </div>

			        <div class="pull-left ">
			            <sm class="subdued">{{request.timeStr}}</sm>
			        </div>
			    </div>

			</ion-item>
		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>


	<ion-footer-bar 
		class="bar-light"
		ng-show="view.requests.length > 0">


		<div class="row">
			<div class="col col-50 text-center" ng-click="view.showSortOptions()">
				<h5 class="margin-none  normal">
					{{view.sortName}}
				</h5>
				<h5 class="margin-none  normal">
					<i class="ion ion-arrow-swap"></i> SORT
				</h5>
			</div>

			<div class="col col-50 text-center border-left" ng-click="view.filter.openModal()">
				<h5 class="margin-none  normal">
					{{view.filter.excerpt}}
				</h5>
				<h5 class="margin-none  normal">
					<i class="ion ion-funnel"></i> FILTER
				</h5>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>
