<ion-modal-view ng-switch="view.requestDetails.display">

	<ion-header-bar
		style="height:54px;"
		no-tap-scroll="true" class="modal-offer-header">

		<div class="row row-fluid">
			<div class="col col-20"></div>
			<div class="col col-60">
				<h4>Make an Offer</h4>
			</div>
			<div class="col col-20">
				<h2
					ng-click="view.requestDetails.modal.hide()"
					class="text-right">
					<i class="ion ion-ios-close-outline"></i>
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content
		class="has-footer"
		delegate-handle="request-details">

		<ion-spinner
			class="aj-spinner spinner-android"
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">

			<div class="row">
				<div class="col col-20">
					<div class="item-avatar">
						<img class="" ng-src="{{view.requestDetails.data.product.image[0].src}}" >
					</div>
				</div>
				<div class="col col-60">
					<h5 class="text-left">{{view.requestDetails.data.product.name}}</h5>
				</div>
			</div>

			<div>
				<h5>
					Model No : {{view.requestDetails.data.product.model_number}}
				</h5>

				<h5>
					Distance from you: {{view.requestDetails.data.radius.toFixed(1)}} kms radius
				</h5>

				<h5>
					MRP: Rs {{App.toINR(view.requestDetails.data.product.mrp)}}
				</h5>

				<h5>
					Number of bids: {{view.requestDetails.data.offerCount}}
				</h5>

				<h5>
					Category: {{view.requestDetails.data.category.parent}} > {{view.requestDetails.data.category.name}} > {{view.requestDetails.data.brand.name}}
				</h5>

				<h5>
					Your last price: {{view.requestDetails.data.lastOfferPrice}}
				</h5>

				<h5>
					Online price: {{view.requestDetails.data.onlinePrice}}
				</h5>

				<h5>
					Platform price: DUMMY
				</h5>
			</div>

			<br>

			<div class="row make-an-offer">
				<div class="col">
					<label class="item item-radio">
						<input
							type="radio"
							name="group"
							value="localPrice"
							ng-model="view.requestDetails.price"
							ng-change="App.resize();">

						<div class="item-content item-text-wrap">
							<sm> Local Price </sm>
						</div>
						<i class="radio-icon-hide rad-ico ion-android-radio-button-on"></i>
						<i class="radio-icon-show rad-ico ion-android-radio-button-off"></i>
					</label>
				</div>
				<div class="col">
					<label class="item item-radio">
						<input
							type="radio"
							name="group"
							value="onlinePrice"
							ng-model="view.requestDetails.price"
							ng-change="App.resize();">

						<div class="item-content">
							<sm> Online Price </sm>
						</div>
						<i class="radio-icon-hide rad-ico ion-android-radio-button-on"></i>
						<i class="radio-icon-show rad-ico ion-android-radio-button-off"></i>
					</label>
				</div>
				<div class="col">
					<label class="item item-radio">
						<input
							type="radio"
							name="group"
							value="yourPrice"
							ng-model="view.requestDetails.price"
							ng-change="App.resize();">

						<div class="item-content">
							<sm> Your Price </sm>
						</div>
						<i class="radio-icon-hide rad-ico ion-android-radio-button-on"></i>
						<i class="radio-icon-show rad-ico ion-android-radio-button-off"></i>
					</label>
				</div>
		    </div>

			<div
				class="list"
				ng-if="view.requestDetails.price === 'yourPrice'">
				<label class="item item-input item-floating-label">
					<span class="input-label">Your offer price</span>
					<input
			    		type="number"
			    		placeholder="Enter your offer price"
			    		ng-pattern="App.onlyNumbers"
			    		ng-model="view.requestDetails.offerPrice">
				</label>
			</div>

			<div class="row">
				<div class="col">
					<div class="deli-tim">
						<i class="icon-img icon-cust-cal bigger">
							<img src="./img/cal.png" alt="">
						</i>
						<p>
						<span class="ti">Delivery Time</span>
						<span class="ac-ti">
							<span
								class="big">
								{{view.requestDetails.deliveryTime.value}} {{view.requestDetails.deliveryTime.unitText}}
							</span>
							<span
								class="change"
								ng-if="!view.requestDetails.deliveryTime.display"
								ng-click="view.requestDetails.deliveryTime.display=true; App.resize();">
								(Change)
							</span>
						</span>
						</p>
					</div>
				</div>
			</div>

			<div
				class="list"
				ng-show="view.requestDetails.deliveryTime.display">

				<div class="row">
					<div class="col col-20">
						<label class="item item-input" style="width: 70px;">
							<input
					    		type="number"
					    		min="1" max="100"
					    		ng-pattern="App.onlyNumbers"
					    		ng-model="view.requestDetails.deliveryTime.value"
					    		ng-change="view.requestDetails.deliveryTime.setDuration()">
						</label>
					</div>
					<div class="col col-60">
						<label class="item item-input item-select">
							<div class="input-label">
								Duration
							</div>
							<select
								ng-model="view.requestDetails.deliveryTime.unit"
								ng-change="view.requestDetails.deliveryTime.setDuration()">
								<option value="hr">Hour(s)</option>
								<option value="day">Day(s)</option>
							</select>
						</label>
					</div>
					<div class="col col-20">
						<button
							class="button button-big button-black"
							ng-click="view.requestDetails.deliveryTime.done();">
							Done
						</button>
					</div>
				</div>
			</div>

			<div ng-if="view.requestDetails.data.comments!==''">
			    <div class="row">
			    	<div class="col">
			    		<h5 class="with-sep"><span>Comments</span></h5>
			    	</div>
			    </div>

			    <div class="row">
			    	<div class="col col-20">
			    		<a href="#" class="userava">
			    			C
			    		</a>
			    	</div>
			    	<div class="col col-80 user-comment">
			    		<p>{{view.requestDetails.data.comments}}</p>
			    		<button
			    			class="button button-small button-black"
			    			ng-show="view.requestDetails.reply.button"
			    			ng-click="view.requestDetails.reply.button=false; App.resize();">
			    			Reply
			    		</button>
			    	</div>
			    </div>

				<div class="list">
					<label class="item item-input">
						<textarea
							placeholder="Your reply"
							ng-hide="view.requestDetails.reply.button"
							ng-model="view.requestDetails.reply.text">
						</textarea>
					</label>
				</div>
			</div>

		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.requestDetails.errorType"
			tap-to-retry="view.requestDetails.get()">
		</aj-error>

	</ion-content>

	<ion-footer
		ng-switch-when="noError"
		class="bar bar-footer bar-assertive" >
		<div
			class="title"
			ng-click="view.requestDetails.makeOffer()">
			Make offer
		</div>
	</ion-footer>

</ion-modal-view>
