<ion-modal-view class="filters-white-bg">

	<ion-header-bar style="height:55px;" no-tap-scroll="true">
		<div class="row row-fluid filter-head">
			<div class="col col-25 sm-text">
				<h4 class="text-left m-t-6 text-light">Filter by</h4>
			</div>
			<div class="col text-right">
				<button class="button button-clear button-stable" ng-click="view.filter.clearFilters();">
					Clear
				</button>
				<button class="button button-balanced" ng-click="view.filter.onApply();">
					Apply
				</button>
				<button ng-click="view.filter.closeModal()" class="button button-clear text-right btn-close">
					<i class="ion ion-ios-close-outline"></i>
				</button>
			</div>
		</div>
	</ion-header-bar>

	<ion-content>

		<div class="row row-fluid products-filter-view">

			<div class="col col-33 p-a-0">
				<div class="list">
					<label
						class="item item-text-wrap item-radio text-center"
						ng-repeat="attr in view.filter.allAttributes">
						<input
							type="radio"
							name="group"
							value="{{attr.value}}"
							ng-model="view.filter.attribute">
						<div class="item-content">
							{{attr.name}}
							<i class="sel-count" ng-if="attr.selected !== 0 && attr.value !== 'radius'">{{attr.selected}}</i>
							<i class="sel-count" ng-if="attr.value === 'radius'">{{view.filter.attrValues['radius']}} kms</i>
						</div>
					</label>
				</div>
			</div>

			<div 
				class="col col-67 p-a-0"
				ng-if="view.filter.attribute !== 'radius'">

				<ul class="list">
					<li
						class="item item-text-wrap item-checkbox"
						ng-repeat="value in view.filter.attrValues[view.filter.attribute] track by $index">
						
						
						<label class="checkbox">
							<input
								type="checkbox"
								ng-model="value.selected"
								ng-change="view.filter.showAttrCount()">
						</label>
						{{value.name}}
					</li>
				</ul>

			</div>

			<div 
				class="col col-67 p-a-0"
				ng-if="view.filter.attribute === 'radius'">

				<ion-item>
					Delivery radius: {{view.filter.attrValues['radius']}} kms
				</ion-item>

				<div class="item range range-assertive range-with-incdec">
					<i class="icon ion-minus-round" ng-click="view.filter.minus();"></i>
					<input
						type="range"
						min="1"
						max="100"
						ng-model="view.filter.attrValues['radius']">
					<i class="icon ion-plus-round" ng-click="view.filter.plus();">
					</i>
				</div>

			</div>

		</div>

	</ion-content>

</ion-modal-view>
