<ion-modal-view ng-switch="view.requestDetails.display">

	<ion-header-bar
		style="height:54px;"
		no-tap-scroll="true" class="modal-offer-header">

		<div class="row row-fluid">
			<div class="col col-20"></div>
			<div class="col col-60">
				<h4>Details</h4>
			</div>
			<div class="col col-20">
				<h2
					ng-click="view.requestDetails.modal.hide()"
					class="text-right">
					<i class="ion ion-ios-close-outline"></i>
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content 
		class="has-footer" 
		delegate-handle="request-details">

		<ion-spinner
			class="aj-spinner spinner-android"
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">

			<div class="row">
				<div class="col col-20 item-avatar">
					<img class="" ng-src="{{view.requestDetails.data.product.images[0].src}}" >
				</div>
				<div class="col col-60">
					<h5 class="text-left">{{view.requestDetails.data.product.name}} </h5> 
				</div>
				
			</div>

			<div>

				<h5>Model No : {{view.requestDetails.data.product.modelNumber}} </h5>
				<h5>Distance from you: {{view.requestDetails.data.distanceFromCustomer.toFixed(2)}} kms radius</h5>
				<h5>MRP: Rs  {{App.toINR(view.requestDetails.data.product.mrp)}}</h5>
				<h5>Number of bids: DUMMY</h5>
				<h5>
					Category: {{view.requestDetails.data.category.parent}} > {{view.requestDetails.data.category.name}} > {{view.requestDetails.data.brand.name}}
				</h5>
				<h5>Your offer price: {{view.requestDetails.data.offerPrice}}</h5>
				<h5  > Request expires within  :</sm>
	            	 	<sm ng-if="view.requestDetails.showExpiry"
							aj-count-down
							created-at="view.requestDetails.data.request.createdAt">
				</h5>
			</div>

			<br>

			<div 
				class="list"
				ng-if="view.requestDetails.price === 'yourPrice'">
				<label class="item item-input item-floating-label">
					<span class="input-label">Your offer price</span>
					<input 
			    		type="number"
			    		placeholder="Enter your offer price"
			    		ng-pattern="App.onlyNumbers"
			    		ng-model="view.requestDetails.offerPrice">
				</label>
			</div>	

			<div class="row">
				<div class="col">
					<div class="deli-tim">
						<i class="icon-img icon-cust-cal bigger">
							<img src="./img/cal.png" alt="">
						</i>
						<p>
						<span class="ti">Delivery Time</span>
						<span class="ac-ti">
							<span 
								class="big">
								{{view.requestDetails.data.offerDeliveryTime.value}} {{view.requestDetails.data.offerDeliveryTime.unit}}
								
							</span>
							
						</span>
						</p>
					</div>
				</div>
			</div>

		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.requestDetails.errorType"
			tap-to-retry="view.requestDetails.get()">
		</aj-error>

	</ion-content>

	

</ion-modal-view>
