<ion-modal-view class="model-normal">

   <ion-header-bar
      style="height:54px;"
      class="modal-offer-header"
      no-tap-scroll="true">
      <div class="row row-fluid">
         <div class="col col-20"></div>
         <div class="col col-60">
            <h4 class="text-light">Details</h4>
         </div>
         <div class="col col-20">
            <h2
               ng-click="view.offerDetails.modal.hide();"
               class="text-right text-light">
               <i class="ion ion-ios-close-outline"></i>
            </h2>
         </div>
      </div>
   </ion-header-bar>

   <ion-content ng-switch="view.display">

      <ion-spinner
         class="aj-spinner spinner-android"
         ng-switch-when="loader">
      </ion-spinner>

      <ion-list ng-switch-when="noError">

         <div class="list margin-none">
            <div class="item item-details">
               <div class="row">
                  <div class="col col-25 ">
                     <div class="item-avatar">
                        <img ng-src="{{App.getBestSize(view.offerDetails.data.product.images[0].src, view.imageSizes.small)}}">
                     </div>
                  </div>
                  <div class="col col-60">
                     <h2 class="text-left product-item">
                        {{view.offerDetails.data.product.name}}
                     </h2>
                     <h3 class="text-left subdued">
                        Model No : {{view.offerDetails.data.product.modelNumber}}
                     </h3>
                  </div>
               </div>

               <div class="row">
                  <div class="col col-20">
                     <img class="pull-right" src="./img/distance.png" width="55px">
                  </div>
                  <div class="col col-50">
                     <b class="text-left m-t-5 center-block">
                        {{view.offerDetails.data.distanceFromCustomer.toFixed(2)}}
                        <sm>kms away</sm>
                     </b>
                     <h3 class="light-gray text-left">Distance from you</h3>
                  </div>
                  <div class="col status">
                     <div
                        class="{{App.humanize(view.offerDetails.data.request.status)}}"
                        ng-if="view.offerDetails.data.offerStatus != 'unaccepted'">
                        <span>Status</span>
                        {{App.humanize(view.offerDetails.data.request.status)}}
                     </div>
                  </div>
               </div>

               <hr class="margin-none">

               <div class="row">
                  <div class="col">
                     <h4 class="text-left subdued text-center margin-none">
                        MRP  <br><span class="WebRupee subdued">&#x20B9;</span>
                        <b class="big-txt">{{App.toINR(view.offerDetails.data.product.mrp)}}</b>
                     </h4>
                  </div>
                  <div class="col border-right">
                     <h4 class="text-left subdued text-center margin-none">
                        No of offers <br> <b class="big-txt">{{view.offerDetails.data.request.offerCount}}</b>
                     </h4>
                  </div>
                  <div class="col border-right">
                     <h4 class="text-left subdued text-center margin-none">
                        You offered <br>
                        <sm class="WebRupee subdued">&#x20B9;</sm>
                        <b class="big-txt">{{App.toINR(view.offerDetails.data.offerPrice)}}</b>
                     </h4>
                  </div>
               </div>

            </div>
         </div>

         <div class="row">
            <div class="col col-25">
               <h5 class="subdued text-left">Offer Status:</h5>
            </div>
            <div class="col  subdued">
               <h5 class=" text-left bold {{App.humanize(view.offerDetails.data.offerStatus)}}">
                  <i class="ion-ribbon-b"> </i> {{App.humanize(view.offerDetails.data.offerStatus)}}
               </h5>
            </div>
         </div>

         <div class="row">
            <div class="col col-25">
               <h5 class=" subdued text-left margin-none">Category:</h5>
            </div>
            <div class="col">
               <h5 class="subdued text-left bold margin-none">
                  {{view.offerDetails.data.category.parentCategory}}  &nbsp;<b><i class="ion-arrow-right-b subdued"></i></b>
                  &nbsp;{{view.offerDetails.data.category.name}} &nbsp;<b><i class="ion-arrow-right-b subdued"></i></b>
                  &nbsp;{{view.offerDetails.data.brand.name}}
               </h5>
            </div>
         </div>

         <hr>
         <!-- <div class="row">
            <div class="col col-100">
            	<div class="item text-center dashed">
            		<h4 class="margin-none subdued">Your offer price: </h4>
            		<h1 class="margin-none"><sm class="WebRupee subdued">&#x20B9;</sm>  {{App.toINR(view.offerDetails.data.offerPrice)}}</h1>
            		<h3 class="subdued">
            			Offer Status : <b class="{{App.humanize(view.offerDetails.data.offerStatus)}}"> {{App.humanize(view.offerDetails.data.offerStatus)}}</b>
            		</h3>
            	</div>
            </div>
            </div> -->
         <div class="row">
            <div class="col">
               <div class="deli-tim">
                  <i class="icon-img icon-cust-cal bigger">
                  <img src="./img/cal.png" alt="">
                  </i>
                  <p>
                     <span class="ti">Delivery Time</span>
                     <span class="ac-ti">
                     <span class="big">
                     {{view.deliveryTime.humanize(view.offerDetails.data.offerDeliveryTime)}}
                     </span>
                     </span>
                  </p>
               </div>
            </div>

            <div class="col " ng-if="view.offerDetails.data.request.status == 'open' ">
               <div class="deli-tim" >
                  <i class="icon-img icon-cust-cal bigger">
                  <img src="./img/cal.png" alt="">
                  </i>
                  <p>
                     <span class="ti">Request expires in </span>
                     <span class="ac-ti">
                     <span class="big text-primary" ng-if="view.offerDetails.showExpiry"
                        aj-count-down
                        created-at="view.offerDetails.data.request.createdAt">
                     </span>
                     </span>
                  </p>
               </div>
            </div>
         </div>

         <div ng-if="view.offerDetails.data.request.comments !== ''">
            <div class="row">
               <div class="col">
                  <h5 class="with-sep"><span>Comments</span></h5>
               </div>
            </div>
            <div class="row">
               <div class="col col-20">
                  <a class="userava">
                  C
                  </a>
               </div>
               <div class="col col-80 user-comment">
                  <p class="subdued">{{view.offerDetails.data.request.comments}} </p>
               </div>
            </div>
            <div class="row" ng-if="view.offerDetails.data.offerComments !== ''">
               <div class="col col-20">
                  <a class="userava">
                  S
                  </a>
               </div>
               <div class="col col-80 user-comment">
                  <p class="subdued"> {{view.offerDetails.data.offerComments}} </p>
               </div>
            </div>
         </div>
      </ion-list>

      <aj-error
         ng-switch-when="error"
         error-type="view.errorType"
         tap-to-retry="view.onTapToRetry();">
      </aj-error>

   </ion-content>
</ion-modal-view>

