<ion-modal-view>

	<ion-header-bar  style="height:65px;">
		<div class="row row-fluid">
			<div class="col ">
				<h2 
					ng-click="view.requestDetails.modal.hide()" 
					class="text-right">
					<i class="ion ion-ios-close-outline"></i> 
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content ng-switch="view.requestDetails.display">

		<ion-spinner
			class="aj-spinner spinner-android" 
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">

		</ion-list>

		<aj-error 
			ng-switch-when="error"
			error-type="view.requestDetails.errorType"
			tap-to-retry="view.requestDetails.get()">
		</aj-error>
	
	</ion-content>
</ion-modal-view>