<ion-modal-view>

	<ion-header-bar
		style="height:54px;"
		class="modal-offer-header"
		no-tap-scroll="true">

		<div class="row row-fluid">
			<div class="col col-20"></div>
			<div class="col col-60">
				<h4>Details</h4>
			</div>
			<div class="col col-20">
				<h2
					ng-click="view.offerDetails.modal.hide()"
					class="text-right">
					<i class="ion ion-ios-close-outline"></i>
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content 
		class="has-footer"
		ng-switch="view.display">

		<ion-spinner
			class="aj-spinner spinner-android"
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">

			<div class="row">
				<div class="col col-20 item-avatar">
					<img ng-src="{{view.offerDetails.data.product.images[0].src}}">
				</div>
				<div class="col col-60">
					<h5 class="text-left">
						{{view.offerDetails.data.product.name}}
					</h5> 
				</div>
			</div>

			<div>
				<h5>
					Model No : {{view.offerDetails.data.product.modelNumber}}
				</h5>

				<h5>
					Request Status : {{App.humanize(view.offerDetails.data.request.status)}}
				</h5>

				<h5>
					Offer Status : {{App.humanize(view.offerDetails.data.offerStatus)}}
				</h5>

				<h5>
					Distance from you: {{view.offerDetails.data.distanceFromCustomer.toFixed(2)}} kms radius
				</h5>
				
				<h5>
					MRP: Rs  {{App.toINR(view.offerDetails.data.product.mrp)}}
				</h5>

				<h5>Number of bids: {{view.offerDetails.data.request.offerCount}}</h5>

				<h5>
					Category: {{view.offerDetails.data.category.parentCategory}} > {{view.offerDetails.data.category.name}} > {{view.offerDetails.data.brand.name}}
				</h5>

				<h5>
					Your offer price: {{App.toINR(view.offerDetails.data.offerPrice)}}
				</h5>

				<div ng-if="view.offerDetails.data.request.status == 'open' ">
					<h5> 
						Request expires in  :
	            	 	<sm ng-if="view.offerDetails.showExpiry"
							aj-count-down
							created-at="view.offerDetails.data.request.createdAt">
						</sm>
					</h5>
				</div>

				<h5 ng-if="view.offerDetails.data.request.comments!==''">
					Customer Comments : {{view.offerDetails.data.request.comments}} 
				</h5>

				<h5 ng-if="view.offerDetails.data.offerComments!==''">
					Your Comments : {{view.offerDetails.data.offerComments}}
				</h5>
			</div>

			<br>

			<div class="row">
				<div class="col">
					<div class="deli-tim">
						<i class="icon-img icon-cust-cal bigger">
							<img src="./img/cal.png" alt="">
						</i>
						<p>
							<span class="ti">Delivery Time</span>
							<span class="ac-ti">
								<span class="big">
									{{view.deliveryTime.humanize(view.offerDetails.data.offerDeliveryTime)}}
								</span>
							</span>
						</p>
					</div>
				</div>
			</div>

		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>

</ion-modal-view>
