<ion-view
	aj-remove-box-shadow
	ng-init="view.init()">

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button
			menu-toggle="left"
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-refresher
			on-refresh="view.onPullToRefresh()"
			class="aj-refresher">
		</ion-refresher>

		<ion-list
			class="card-list list-inset"
			ng-switch-when="noError">

			<h5
				ng-if="view.noAcceptedOffers"
				class="text-center fin">
				You have no accepted offers.
			</h5>

	       	<ion-item

	       		class="card-box"
	       		ng-repeat="request in view.requests"
	       		ng-click="view.offerDetails.show(request)"
	       		ng-controller="EachSuccessfulOfferCtrl">

	       		<div class="item-wrapper-nr">
					<div class="item-avatar border-none margin-none">
				        <img ng-src="{{request.product.images[0].src}}">
				    </div>

				    <h2>{{request.product.name}}
							<i class="ion-record " id="{{App.humanize(request.offerStatus)}}"></i>
				    </h2>

				      <b class="light-gray"><i class="ion-android-pin text-primary"></i> {{request.distanceFromCustomer.toFixed(2)}} kms away</b>

				 <!--    <div class="col p-t-0" >
			            <sm class="light-gray"> Claimed delivery :</sm>
			            	{{view.deliveryTime.humanize(request.offerDeliveryTime)}}
			            <br>
			        </div> -->

					<!-- <sm
						class="light-gray"
						ng-if="request.offerStatus != 'unaccepted'">
						Delivery Status : {{App.humanize(request.request.status)}}
					</sm>

					<div
						class="col p-t-0"
						ng-if="request.request.status === 'pending_delivery' || request.request.status === 'sent_for_delivery'">
			            <sm class="light-gray"> Delivery time left:</sm>
			            	{{request.leftDeliveryTimeStr}}
			            <br>
			        </div> -->
				</div>

				<div class="row item border-none" >
			        <div class="col p-t-0">
			            <sm class="light-gray">Your Offer Price</sm><br>
			            <h3 class=" item-text-wrap margin-none big-txt ">
			            	<span class="WebRupee subdued">&#x20B9;</span>
			            	{{App.toINR(request.offerPrice)}}
			            </h3>
			        </div>
			        <div class="col p-t-0">
			        	<div class="pull-right">
				            <div class="offer"> {{request.request.offerCount}} </div>
				            <h4 class="offertxt light-gray"> No of offers</h4>
			           	</div>
			        </div>
			    </div>

			    <div class="item item-divider">
			        <div class="pull-right ">
			        	<div ng-if="request.offerStatus != 'unaccepted'">
			        		<h3 class="light-gray text-right margin-none"><i class="icon-truck">
									<img src="./img/delivery.png" alt="" class="truck">
								</i>
		            		 <b>{{App.humanize(request.request.status)}}</b>
			             </div>
			        </div>

			        <div class="pull-left ">

			        		<h3
						class="light-gray text-right margin-none"
						ng-if="request.request.status === 'pending_delivery' || request.request.status === 'sent_for_delivery'">
			          	 Delivery in: <b>{{request.leftDeliveryTimeStr}}</b>

			      		  </h3>

			        </div>
			    </div>
			</ion-item>
		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()" class="error-wrapper">
		</aj-error>

		<h5 class="text-center subdued fin" ng-if="view.gotAllOffers && view.requests.length !== 0">
			That's all folks, no more offers to display.
			<div class="spacer-20"></div>
		</h5>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll()"
			ng-if="view.canLoadMore"
			distance="1%"
			class="aj-refresher">
		</ion-infinite-scroll>

	</ion-content>

	<ion-footer-bar class="bar-light">
		<div class="row">
			<div class="col col-50 text-center" ng-click="view.showSortOptions()">

				<h5 class="margin-none  normal filter-txt">
					<i class="ion ion-arrow-swap"></i>
					 SORT<br>
					 <sm>{{view.sortName}}<sm>
				</h5>
			</div>

			<div class="col col-50 text-center border-left" ng-click="view.filter.openModal()">

				<h5 class="margin-none  normal filter-txt">
						<i class="ion ion-funnel"></i>
			 FILTER
					<br>
					 <sm>{{view.filter.excerpt}}<sm>
				</h5>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>

