@import url(../../styles/fonts/open-sans/open-sans.css);
/* External CSS */
/**** Fonts ****/
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
select,
textarea,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 .item,
.item-divider {
  font-family: 'opensans' !important;
  color: #424242;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
.bottom-fixed {
  position: absolute;
  bottom: 0px;
}
.logo {
  display: block;
  margin: auto;
  margin-top: 50%;
}
.img-responsive {
  width: 100%;
}
.margin-none {
  margin: 0px !important;
}
sm {
  font-size: 11px;
}
.platform-android .popover {
  height: 170px;
  width: 250px;
}
.subdued {
  color: #747474;
}
.nav-bar-title {
  text-transform: uppercase;
  font-size: 14px;
}
.center-block {
  margin: auto;
  display: block;
}
.pull-left {
  float: left;
}
/* HEADER */
.has-header {
  background: #e8e8e8;
}
.bar-header {
  border-bottom: 1px solid #cccccc !important;
}
.bar-header .notification {
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 2px 6px;
  position: absolute;
  margin-left: -4px !important;
  z-index: 9999;
}
.number-count {
  margin-bottom: -5px !important;
}
.aj-right-popover hr {
  border: none;
  height: 3px;
  background-color: #4d4d4d;
}
.aj-right-popover .item {
  padding: 11px 54px;
}
.aj-right-popover .item i {
  font-size: 22px;
}
/* Menu */
.sprite-icon {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
}
.i-store {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -7px -8px;
}
.i-call {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -7px -60px;
}
.i-share {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -9px -120px;
}
.i-rate {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -9px -182px;
}
.i-help {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -9px -245px;
}
.i-suggest {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -9px -305px;
}
.i-about {
  background: url(../../img/sprite.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: -10px;
  background-position: -9px -367px;
}
/*Department List*/
.department-list {
  height: 199px;
  background: #e8e8e8;
  padding: 0px;
}
.department-list h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin: 80px 5px;
  text-align: left;
}
.department-list img {
  width: 45%;
  position: absolute;
  top: 35px ;
  right: -10px;
}
.department-list:nth-child(2) {
  background: #ffffff;
}
.department-list:nth-child(2) img {
  left: -22px;
}
.department-list:nth-child(2) h3 {
  text-align: right;
}
/* Sub Categories*/
.sub-categories {
  background: #ffffff;
}
.sub-categories .border-card {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  min-height: 240px;
  float: left;
}
.sub-categories .border-card h3 {
  font-size: 14px;
  font-weight: 600;
}
.sub-categories .border-card .title {
  height: 50px;
}
.product-list h4 {
  color: #f35a59;
}
