/* Empty. Add your own CSS if you like */
.aj-alert {
	background-color: #f05868;
}

.aj-bg {
	background-color: #f05868;
}
.bar-dark{
	background: #000!important;
	background-image: none !important;
}
.modal .bar .title {
  font-size: 16px !important;
  left: 0% !important;
  right: 0% !important;
}
.bar .title {
  font-size: 14px !important;
}
.item-note {
  color: #F47979;
 }
.item-avatar img{
	border: 1px solid #ccc;
}
/*.aj-img{
	height: 250px;
}*/

.aj-slide-img {
	background-repeat: no-repeat;
	background-size: cover;
}

.aj-slide-img .started {
	position: absolute;
	bottom: 150px;
	width: 200px;
	margin-left:-100px;
	left:50%;
}

.aj-slide-img .register {
	position: absolute;
	bottom: 210px;
	width: 200px;
	margin-left:-100px;
	left:50%;
}

.aj-logo {
	color:#888787;
}

.aj-menutext .item{
	color: #FFF;
}

.aj-menu-bg {
	background-color: #252525;
}

.aj-menu-bg .item{
	background-color: inherit;
	border-color: #252525;
}

.aj-menu-bg i{
	margin-right: 10px;
}

.aj-menu-bg hr {
	border: none;
    height: 3px;
    background-color: #444444;
    margin-left: 10px;
    margin-right: 10px;
}

.aj-right-popover {
	padding: 2px 10px 0 10px;
}

.aj-right-popover .aj-div{
	height: 25px;
}

.aj-right-popover hr{
    border: none;
    height: 2px;
    background-color: #000;
}

/*Ionic popover*/


.platform-ios .popover {
   height: 180px !important;
}

.aj-btn {
	  position: absolute;
	  width: 180px;
	  left: 0%;
	  right: 0%;
	  margin: auto;
	  font-weight: 600;
}

.aj-text .list{
	margin-left: 40px;
	margin-right: 40px;
}

.aj-text .gray {
	color: #999494;
}

.aj-text input, h5, h3, h4, .center{
	text-align: center;
}

.aj-text .item{
	border-style: none none solid none;
}

.aj-text .no-border{
	border: none;
}


.aj-refresher .spinner, .aj-spinner svg{
  display: block;
  margin: 65% auto;
  stroke: #F8585C;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0px 2px 6px #B6B6B6;
}
.aj-refresher .spinner svg circle{
	stroke: #F8585C;
}

.aj-refresher .spinner{
	margin: 0% auto !important;
}

.aj-verify-spinner svg{
  display: block;
  margin: 0% auto;
  stroke: #F8585C;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0px 2px 6px #B6B6B6;
}
.pane, .view {
  background-color: #E8E8E8;
}

/* map css */
.aj-big-map {
	height: 200px;
	margin: 0; 
	padding: 0;
}

.aj-textarea {
	width: 100%;
  	height: 200px;
}
}



