<ion-slide-box 
	active-slide="slide.active"
	on-slide-changed="onSlideChange($index)"
	on-drag-right="onSlideRight()"
	on-drag-left="onSlideLeft()">

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/three.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/two.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/five.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/four.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/one.png');">
			
			<button 
				class="button button-outline button-dark register"
				ng-click="App.navigate('verify-begin')">
				Register
			</button>
			
			<button 
				class="button button-outline button-dark started"
				ng-click="onGetStarted()">
				Get Started
			</button>
		</div>
	</ion-slide>

</ion-slide-box>