<ion-view hide-nav-bar="true">

	<ion-slide-box 
		active-slide="view.activeSlide"
		on-slide-changed="view.onSlideChange($index)"
		on-drag-right="view.onSlideRight()"
		on-drag-left="view.onSlideLeft()"
		aj-fit-to-screen>

		<ion-slide>
			<div class="aj-slide-img" style="background-image: url('img/slidebox/a.jpg');"></div>
		</ion-slide>

		<ion-slide>
			<div class="aj-slide-img" style="background-image: url('img/slidebox/b.jpg');"></div>
		</ion-slide>

		<ion-slide>
			<div class="aj-slide-img" style="background-image: url('img/slidebox/c.jpg');"></div>
		</ion-slide>

		<ion-slide>
			<div class="aj-slide-img" style="background-image: url('img/slidebox/d.jpg');"></div>
		</ion-slide>

		<ion-slide>
			<div class="aj-slide-img" style="background-image: url('img/slidebox/e.jpg');">
				<button 
					class="button button-stable started"
					ng-click="view.onGetStarted()">
					Get Started
				</button>
			</div>
		</ion-slide>

	</ion-slide-box>
</ion-view>