<ion-view ng-init="view.init()">

	<ion-nav-title>
		{{view.title}}
    </ion-nav-title>

    <ion-nav-buttons side="right">
    	<button
			class="button button-outline button-assertive icon-btn"
			ng-click="view.onSelectAll();">
			<i
				class="icon"
				ng-class="(view.selectAll) ? 'ion-android-checkbox-outline' : 'ion-android-checkbox-outline-blank'">
			</i>
		</button>

		<button
			class="button button-outline button-assertive icon-btn"
			ng-click="view.onDone();">
			<i class="icon ion-checkmark-round"></i>
		</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-assertive p-a-0">
		<div class="item item-input-inset search-brands-wrap p -a-0">
			<button class="button button-small">
				<i class="icon ion-search"></i>
			</button>
			<label class="item-input-wrapper search-brands">
				<input
					type="text"
					placeholder="Search for brands"
					ng-model="view.search">
			</label>
			<button
				class="button button-small button-clear"
				ng-click="view.search = '';">
				<i class="icon ion-android-close"></i>
			</button>
		</div>
	</div>

	<ion-content
		class="brands sub-categories"
		ng-switch="view.display">

		<ion-spinner
			class="aj-spinner"
			ng-switch-when="loader">
		</ion-spinner>

		<br><br>
		<ion-list ng-switch-when="noError">
			<div
				class="col col-25 border-card relative all-brands-indi"
				ng-repeat="brand in view.filteredBrands = (view.brands | orderBy:'name' | filter:view.search)">

				<img
					ng-src="{{brand.image.src}}"
					class="aj-img center-block img-responsive m-t-20">

				<h3 class="text-center aj-title">
					{{brand.name}}
				</h3>

				<ion-checkbox
					ng-model="brand.selected"
					ng-change="view.setSelectAll();"
					class="item-check">
				</ion-checkbox>
			</div>
		</ion-list>

		<div
			class="text-center"
			ng-if="view.filteredBrands.length == 0">

			<h5 class="bold fin">Sorry, no search results found.</h5>
			<div class="spacer-40"></div>
		</div>

		<aj-error class="errors"
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry();">
		</aj-error>

	</ion-content>
</ion-view>

