<ion-pane 
	class="sort-model filter-popup sort-box"
	aj-loading-back-drop>

	<ul class="list">
		<li class="item"><b>SORT BY</b></li>

		<li class="item"
			ng-click="view.onFilter('open')">
			Open
		</li>

		<li class="item" 
			ng-click="view.onFilter('cancelled')">
			Cancelled
		</li>

		<li class="item" 
			ng-click="view.onFilter('successful')">
			Successful Delivery
		</li>

		<li class="item" 
			ng-click="view.onFilter('pending_delivery')">
			Pending Delivery
		</li>

		<li class="item" 
			ng-click="view.onFilter('failed_delivery')">
			Failed Delivery
		</li>

		<li class="item" 
			ng-click="view.onFilter('null')">
			All
		</li>


	</ul>
	
</ion-pane>
