<ion-pane
	class="sort-model sort-popup-my-request"
	aj-loading-back-drop
	on-hidden="view.filter.onLoadingHidden();">

	<ul class="list">
		<li class="item item-title">Fliter By
			<span class="pull-right">
				<button class="button button-clear" ng-click="view.filter.clearFilters();">
					Clear
				</button>
				<button class="button button-assertive" ng-click="view.filter.onApply();">
					Apply
				</button>
			</span>

		 </li>

		<li
			class="item item-checkbox"
			ng-repeat="attribute in view.filter.attributes track by $index">

			<label class="checkbox checkbox-square checkbox-assertive">
				<input
					type="checkbox"
					value="open"
					ng-model="attribute.selected">
			</label>
			{{attribute.name}}
		</li>
	</ul>

</ion-pane>
