<ion-modal-view>

	<ion-header-bar style="height:55px;" no-tap-scroll="true">
		<div class="row row-fluid filter-head">
			<div class="col col-25 sm-text">
				<h4 class="text-left m-t-6 text-light">Filter by</h4>
			</div>
			<div class="col text-right">
				<button class="button button-clear button-stable" ng-click="view.filter.clearFilters();">
					Clear
				</button>
				<button class="button button-balanced" ng-click="view.filter.onApply();">
					Apply
				</button>
				<button ng-click="view.filter.closeModal();" class="button button-clear text-right btn-close">
					<i class="ion ion-ios-close-outline"></i>
				</button>
			</div>
		</div>
	</ion-header-bar>

	<ion-content>

		<div class="row row-fluid products-filter-view">
			
			<div class="col p-a-0">
				<ul class="list">

					<li 
						class="item item-checkbox"
						ng-repeat="attribute in view.filter.attributes track by $index">

						<label class="checkbox">
							<input 
								type="checkbox"
								value="open"
								ng-model="attribute.selected">
						</label>
						{{attribute.name}}
					</li>

				</ul>
			</div>

		</div>

	</ion-content>

</ion-modal-view>
