<ion-view
	aj-remove-box-shadow
	ng-init="view.init()">

	<ion-nav-title>
	MY REQUEST
		<!-- <img src="img/logo.png"/> -->
    </ion-nav-title>

	<ion-content ng-switch="view.display">

		<ion-refresher
			on-refresh="view.onPullToRefresh()" 
			class="aj-refresher">
		</ion-refresher>

		<ion-list 
			class="card-list"
			ng-switch-when="noError">

			<ion-item
				class="card"
				ng-repeat="request in view.openRequests "
				ng-controller="EachRequestTimeCtrl"
				ng-click="view.onClick(request)">

					<div class=" row item border-none item-wrapper-nr">
						
  							<div class="col col-25">
  								<div class="item-avatar border-none margin-none">
									<img ng-src="{{request.product.images[0].src}}">
								</div>
  							</div>
  							<div class="col col-75">
  								<h2>{{request.product.name}}</h2>
  							</div>
  						
						
					</div>
					<div class="row item border-none p-t-10" >
			        <div class="col  p-t-0">
			            <sm class="light-gray"> Local Price</sm><br>
			            <h3 class=" item-text-wrap margin-none big-txt ">
			            	<span class="WebRupee subdued">&#x20B9;</span> {{request.product.mrp.toLocaleString()}}
			            </h3>
			        </div>
			        <div class="col p-t-0">
			        	<div class="pull-right">
			            <div class="offer"> {{request.offerCount}} </div>
			            <h4 class="offertxt light-gray"> No of offers</h4>
			           	</div>
			        </div>
			    </div>
			        <div class="item item-divider">
			        <div class="pull-right ">
			           <h3 class="margin-none "> Status: {{request.status}}</h3>
			        </div>

			        <div class="pull-left ">
			            <sm class="subdued"><i class="ion-ios-clock-outline"> </i>{{request.timeStr}}</sm>
			        </div>
			    </div>
			</ion-item>
		</ion-list>	
		<ion-item ng-if="view.getOpenProducts">
			No more products to display.
		</ion-item>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll()"
			ng-if="view.canLoadMore"
			distance="1%" 
			class="aj-refresher">
		</ion-infinite-scroll>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>

	<ion-footer-bar class="bar-dark">
		<div class="row">
			<div class="col col-50 text-center" >
				<h5 class="margin-none text-light normal"><i class="ion ion-arrow-swap"></i> SORT</h5>
			</div>
			<div class="col col-50 text-center border-left" ng-click="view.Filter()">
				<h5 class="margin-none text-light normal"><i class="ion ion-funnel"></i> FILTER</h5>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>
