<ion-pane
	class="sort-model rating-popup "
	on-hidden="view.onIonicLoadingHide();">

<div class="rating-wrap">

	<h4>Congratulations for your purchase</h4>
	<p class="seller-name">{{view.offers.rate.sellerName}}</p>

	<p class="seller-info">Tell us about yout buying experience</p>

	<p class="rate-scale">How would you rate this seller on a scale of 5?</p>

	<div class="rating-inner-wrap">
		<rating ng-model="view.offers.rate.score" max="view.offers.rate.max" ng-click="view.offers.rate.setScore(view.offers.rate.score)"></rating>
		<p class="text-center rating-info">{{view.offers.rate.star}}</p>
		<textarea name="" id="" rows="4" placeholder="Your Comments" ng-model="view.offers.rate.comment" ></textarea>
		<button class="button button-full button-assertive" ng-click="view.offers.rateSeller()">
  			Submit
		</button>
	</div>
	<!-- <br> -->
</div>

</ion-pane>