<ion-view
	view-title="Request Details"
	ng-init="view.init()">

	<ion-content>

		<ion-list ng-switch="view.display">

			<ion-spinner
				class="aj-spinner"
				ng-switch-when="loader">
			</ion-spinner>

			<div
				class="row row-fluid obj-title"
				ng-switch-when="noError">

				<div class="col">

					<div class="row">
						<div class="col-20">
							<div class="item-avatar">
								<img ng-src="{{view.request.product.images[0].src}}" alt="">
							</div>
						</div>
						<div class="col">
							<h4>{{view.request.product.name}}</h4>
							<p class="details">Price requested
								<span>{{view.request.timeStr}}</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div
							class="col"
							ng-if="view.request"
							ng-click="view.address.toggle()">

							<p class="loca">
								My Location
								<span><i class="icon ion-ios-location"></i> {{view.request.address.city}}</span>
								<a ng-if="!view.address.show">More</a>
								<a ng-if="view.address.show">Less</a>
							</p>

							<ion-item
								class="item-text-wrap item-accordion"
								ng-show="view.address.show">
								{{view.request.address.full}}
							</ion-item>
						</div>

						<div
							class="co l c ol-20 pull-right"
							ng-if="view.request.comments !== ''">

							<button
								class="button button-outline button-dark button-lighter"
								ng-click="view.comments.toggle()">

								<img src="./img/speechbubble.png" alt="Speech Bubble Icon">
								01
							</button>

							<ion-item
								class="item-text-wrap item-accordion"
								style="margin-top: 40px;"
								ng-show="view.comments.show">
								{{view.request.comments}}
							</ion-item>
						</div>
					</div>

					<div class="row">
						<div class="col">
							<div class="dash-div"></div>
						</div>
					</div>

					<div
						class="row expires"
						ng-if="view.request.status == 'open';">
						<div class="col">
							<h2 class="dura pull-left"
								aj-count-down
								created-at="view.request.createdAt"
								count-down-finish="view.onRequestExpiry()">
							</h2>
							<p class="exp_in">Expires in <i class="icon ion-ios-clock-outline"></i></p>
							<p class="why"><a>Why this product expires in 24 hrs</a></p>
						</div>
						<div class="col col-20">
							<button class="button button-outline button-balanced pull-right">
								{{App.humanize(view.request.status)}}
							</button>
						</div>
					</div>

					<div
						class="row expires"
						ng-if="view.request.status !== 'open';">

						<div class="col">
							<button
								class="button button-outline"
								ng-class="(view.request.status == 'cancelled'
											|| view.request.status == 'expired') ? 'button-assertive' : 'button-balanced'">

								{{App.humanize(view.request.status)}}
							</button>
						</div>
					</div>
				</div>
			</div>

			<aj-error
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.getRequestForOffer()">
			</aj-error>

		</ion-list>

		<br>

		<ion-list ng-switch="view.offers.display">

			<ion-spinner
				class="aj-verify-spinner"
				ng-switch-when="loader">
			</ion-spinner>

			<div ng-switch-when="noError" >
				<div
					class="row"
					ng-if="view.offers.all.length > 0;">

					<div class="col">
						<h4 class="align-left high-span rec-off">Received Offers <b>({{view.offers.all.length}})</b></h4>
					</div>
				</div>

				<div
					class="row"
					ng-if="view.offers.all.length == 0 && view.request.status === 'open';">
					<div class="col no-offs-det">
						<h4>We have sent your request to sellers,<br>they will soon send their prices</h4>
					</div>
				</div>
			</div>

			<div
				ng-switch-when="noError"
				class="card no-shadow rece-offer m-t-0"
				ng-repeat="offer in view.offers.all | orderBy: 'status' | limitTo: view.offers.limitTo"
				ng-controller="EachOfferTimeCtrl">

				<div class="item item-text-wrap">
					<div class="row row-fluid">
						<div class="col p-t-0 p-l-0 p-r-0">
							<div class="user-wrap pull-left">
								<img src="./img/user.png" alt="" class="user">
							</div>
							<div class="user-details">
								<p class="pull-right time-rece"><i>{{offer.timeStr}}</i></p>
								<h3>{{offer.seller.businessName}}
									<span class="loc">{{offer.seller.address.city}}</span>
								</h3>
								<p
									class="comment"
									ng-if="offer.comments !== ''">
									<img src="./img/speechbubble.png" alt="">
									<span class="com">{{offer.comments}}</span>
								</p>
							</div>
						</div>
					</div>

					<div
						class="row row-fluid offer-vals"
						ng-if="offer.status === 'accepted'">

						<div class="col col-75">
							<h4>{{offer.seller.address.full}}</h4>
						</div>
						<div class="col">
							<button
								class="button button-small button-assertive"
								ng-click="view.callSeller(offer.seller.phoneNumber)">
								CALL SELLER
							</button>
						</div>
					</div>

					<div class="dash-div"></div>

					<div
						class="row row-fluid offer-vals"
						ng-if="offer.status === 'open'">

						<div class="col align-center p-a-0 p-r-6">
							<p class="info">Price Offered</p>
							<h2><small>Rs</small> {{App.toINR(offer.price)}}</h2>
						</div>
						<div class="col align-center p-a-0 p-r-6">
							<div class="vert-div pull-left"></div>
							<p class="info">Delivery time</p>
							<h2>{{offer.deliveryTimeStr}}</h2>
						</div>
						<div class="col align-right p-a-0">
							<div class="vert-div pull-left"></div>
							<button
								class="button button-outline button-balanced"
								ng-disabled="view.request.status === 'cancelled' || view.request.status === 'expired'"
								ng-click="view.onAcceptOffer(offer);">
								Accept
							</button>
						</div>
					</div>

					<div
						class="row row-fluid offer-vals"
						ng-if="offer.status === 'accepted'">

						<div class="col align-center p-a-0 p-r-6">
							<p class="info">Price Offered</p>
							<h2><small>Rs.</small> {{App.toINR(offer.price)}}</h2>
						</div>

						<div class="col align-center p-a-0 p-r-6">
							<div class="vert-div pull-left"></div>
							<p class="info">Delivery time left</p>
							<h2>{{offer.deliveryTimeLeftStr}}</h2>
						</div>
						<div class="col align-right p-a-0">
							<div class="vert-div pull-left"></div>
							Offer Status
							<button
								class="button button-outline button-assertive">
								Accepted
							</button>
						</div>
					</div>

					<div
						class="row row-fluid offer-vals"
						ng-if="offer.status === 'unaccepted'">

						<div class="col align-center p-a-0 p-r-6">
							<p class="info">Price Offered</p>
							<h2><small>Rs.</small> {{App.toINR(offer.price)}}</h2>
						</div>

						<div class="col align-center p-a-0 p-r-6">
							<div class="vert-div pull-left"></div>
							<p class="info">Delivery time</p>
							<h2>{{offer.deliveryTimeStr}}</h2>
						</div>
						<div class="col align-right p-a-0">
							<div class="vert-div pull-left"></div>
							<button
								class="button button-outline button-balanced"
								ng-disabled="true">
								Accept
							</button>
						</div>
					</div>
				</div>
			</div>

			<ion-item
				ng-if="view.offers.limitTo == 1 && view.offers.all.length > 1;"
				ng-click="view.offers.showAll()">
				SHOW ALL OFFERS
			</ion-item>

			<button
				class="button button-block button-assertive"
				ng-if="view.request.status === 'open' && view.offers.all.length > 0;"
				ng-click="view.onCancelRequest()">
				Cancel Request
			</button>

			<aj-error
				ng-switch-when="error"
				error-type="view.offers.errorType"
				tap-to-retry="view.offers.get()">
			</aj-error>
		</ion-list>

	</ion-content>

	<ion-footer-bar
		class="bar-assertive"
		ng-if="view.cancelRequest.footer">
		<div
			class="title"
			ng-click="view.onCancelRequest()">
			Cancel Request
		</div>
	</ion-footer-bar>

</ion-view>

