<ion-modal-view>

	<ion-header-bar style="height:55px;">
		<div class="row row-fluid">
			<div class="col col-67 sm-text"> 
				<h5 class="text-left">Enter comments</h5> 
			</div>
			<div class="col">
				<h2 ng-click="view.comments.modal.hide();" class="text-right">
					<i class="ion ion-ios-close-outline"></i> 
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content>
		<br>

		<textarea 
			class="aj-textarea"
			ng-model="view.comments.text">
		</textarea>
		
	</ion-content>

	<ion-footer class="bar bar-footer bar-assertive" >
		<div 
			class="title"
			ng-click="view.comments.modal.hide()">
			Done
		</div>
	</ion-footer>

</ion-modal-view>