<ion-view google-search-tap-disable>

	<ion-nav-title>
		Make Request
	</ion-nav-title>


	<ion-content ng-switch="view.display" class="my-requests-glob">

			<ion-spinner
				class="aj-spinner"
				ng-switch-when="loader">
			</ion-spinner>

			<ion-list ng-switch-when="noError">
				<div class="card m-red">

					<div class="the-loation" ng-if="view.user.full==='';">
						<div class="row">
							<div class="col-75">
								<i class="icon ion-location ico-loc"></i>
								<button
									class="button button-outline button-assertive"
									ng-click="view.onChangeLocation()">
									<i class="icon ion-plus-round"></i> Add  Address
								</button>
							</div>
							<div class="col col-25">

							</div>
						</div>
					</div>

					<div class="the-loation" ng-if="view.user.full!=='';">
						<div class="row">
							<div class="col-75">
								<i class="icon ion-location ico-loc"></i>
								<p>{{view.user.full}}</p>
							</div>
							<div class="col col-25">
								<button
									class="button button-outline button-assertive"
									ng-click="view.onChangeLocation()">
									Change
								</button>
							</div>
						</div>
					</div>
				</div>
				
				<h4 ng-if="view.locationSet ===  true && view.sellers.count > 0">
						Found {{view.sellers.count}} sellers in your area .
				</h4>

				<h4 ng-if="view.locationSet === true && view.sellers.count === 0">
						Since there are no seller in your area , the number of offere received may be less or take little longer.
				</h4>
				

				<h4 ng-if="view.locationSet !== true ">
						Could not find your location please Add your location
				</h4>

				<div class="card m-red">
					<div class="item item-text-wrap">
						Seller will send their offer price once you make request.
					</div>
					
					<div class="item item-text-wrap">
						Your address is taken so that seller can send their delivery duration
					</div>	
					
					<div class="item item-text-wrap">
						The request will expire if no offer is acceoted in 24 hrs
					</div>	
					
					<div class="item item-text-wrap">
							You can make new request once the request expires
					</div>
				</div>
				
			</ion-list>
			
			<aj-error class="errors"
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.onTapToRetry();">
			</aj-error>

	</ion-content>
	

	<ion-footer-bar class="bar-assertive">
		<button
			class="title button-block button-clear"
			ng-click="view.makeRequest();">
			Make request
		</button>
	</ion-footer-bar>

</ion-view>

