<ion-view google-search-tap-disable>

	<ion-nav-title>
		Make Request
	</ion-nav-title>


	<ion-content ng-switch="view.display" class="my-requests-glob">

			<ion-spinner
				class="aj-spinner"
				ng-switch-when="loader">
			</ion-spinner>

			<ion-list ng-switch-when="noError">
				<div class="card m-red">

					<div class="the-loation" ng-if="view.user.full==='';">
						<div class="row">
							<div class="col-75">
								<i class="icon ion-location ico-loc"></i>
								<button
									class="button button-outline button-assertive"
									ng-click="view.onChangeLocation()">
									<i class="icon ion-plus-round"></i> Add  Address
								</button>
							</div>
							<div class="col col-25">

							</div>
						</div>
					</div>

					<div class="the-loation" ng-if="view.user.full!=='';">
						<div class="row">
							<div class="col-75">
								<i class="icon ion-location ico-loc"></i>
								<p>{{view.user.full}}</p>
							</div>
							<div class="col col-25">
								<button
									class="button button-outline button-assertive"
									ng-click="view.onChangeLocation()">
									Change
								</button>
							</div>
						</div>
					</div>
				</div>

				<h4 class="info-make-request" ng-if="view.locationSet ===  true && view.sellers.count > 0">
					Found {{view.sellers.count}} sellers in your area .
				</h4>

				<h4 class="info-make-request" ng-if="view.locationSet === true && view.sellers.count === 0">
					Since there are no sellers in your area, the number of offers received may be less or may take a little longer.
				</h4>


				<h4 class="info-make-request" ng-if="view.locationSet !== true ">
					Could not find your location please Add your location
				</h4>

				<div class="row">
					<div class="col p-b-0"
						ng-click="view.addComments();">

						<div class="view-add-comm-wrap">
							<i class="icon ion-chatbox-working"></i>

							<!-- <h5 class="text-left margin-none title-with-icon text-primary upper-case h5"
								ng-if ="view.comments.text != ''" >
								<i class="icon ion-chatbox-working"></i>
								Change comments
							</h5> -->
							<p class="viewcomm" ng-if ="view.comments.text != ''">
								{{view.comments.text}}
							</p>
							<span class="viewcomm" ng-if ="view.comments.text == ''">
								No comments yet.
							</span>
							<!-- <h5 class="text-left margin-none title-with-icon text-primary upper-case h5"
								ng-if ="view.comments.text == ''">
								<i class="icon ion-chatbox-working"></i>
								Add comments
							</h5> -->
							<button class="button button-assertive button-clear btn-comm"
								ng-if ="view.comments.text == ''">
								<i class="ion-edit"></i>
							</button>
							<button class="button button-assertive button-clear btn-comm"
								ng-if ="view.comments.text != ''" >
								<!-- <i class="icon ion-chatbox-working"></i> -->
								<i class="ion-edit"></i>
							</button>
						</div>

					</div>
				</div>

				<div class="row" style="display: none;">
					<div class="col co l-80" ng-if ="view.comments.text != ''">
						<div class="list popup-comments make-req-comm">
							<i class="icon ion-chatbox-working">
							</i>
							<!-- <label class="item item-input item-stacked-label"> -->
								{{view.comments.text}}
								<!-- <input
									class="comment"
									readonly
									type="text"
									placeholder="Enter comments if any"
									ng-model="view.comments.text"> -->
							<!-- </label> -->
						</div>
					</div>
				</div>

				<div class="car d m-red helper-info">
					<i class="icon ion-information"></i>
					<!-- <div class="item item-text-wrap"> -->
						<p>Seller will send their offer price once you make request.</p>
					<!-- </div>

					<div class="item item-text-wrap"> -->
						<p>Your address is taken so that seller can send their delivery duration</p>
					<!-- </div>

					<div class="item item-text-wrap"> -->
						<p>The request will expire if no offer is acceoted in 24 hrs</p>
					<!-- </div>

					<div class="item item-text-wrap"> -->
						<p>You can make new request once the request expires</p>
					<!-- </div> -->
				</div>
				<div class="row">
					<div class="col">
						<button
							class="button button-block button-assertive"
							ng-click="view.makeRequest();"
							>
		  					Make request
						</button>
					</div>
				</div>
			</ion-list>

			<aj-error class="errors"
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.onTapToRetry();">
			</aj-error>

	</ion-content>


	<!--ion-footer-bar class="bar-assertive" ng-if="view.display == 'noError'">
		<button
			class="title button-block button-clear"
			ng-click="view.makeRequest();">
			Make request
		</button>
	</ion-footer-bar-->

</ion-view>

