<ion-view>

	<ion-nav-title>
		{{view.title}}
    </ion-nav-title>

	<ion-content class="sub-categories">

		<ion-refresher
			on-refresh="view.onPullToRefresh()">
		</ion-refresher>

		<ion-list>
			<div 
				class="col col-50"
				collection-repeat="product in view.products"
				item-width="50%">
				    {{product.name}}
					<p>Rs {{product.mrp}}<p>
				
					<img ng-src="{{product.images[0].src}}" class="aj-img center-block">
			

			
					
		
				
			</div>
		</ion-list>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll()"
			ng-if="view.canLoadMore"
			distance="1%">
		</ion-infinite-scroll>

	</ion-content>

</ion-view>