<ion-view>

	<ion-nav-title>
		{{view.title}}
    </ion-nav-title>

	<ion-content class="sub-categories product-list">

		<ion-refresher
			on-refresh="view.onPullToRefresh()" 
			class="aj-refresher">
		</ion-refresher>

		<!-- <div class="row full-cont">
			<div class="col full-cont">
				<button class="button button-dark button-full button-view-all-cat">
					<i class="icon ion-grid"></i>
					Browse all Departments
				</button>
			</div>
		</div> -->

		<!-- <div class="list-cont"> -->
			<ion-list>
				<div
					class="col col-50 border-card border-card2 sing-pro"
					collection-repeat="product in view.products"
					item-width="50%"
					ng-click="App.navigate('single-product', {productID: product.objectId})">

					<img ng-src="{{product.images[0].src}}" class=" center-block aj-img" >

					<div class="row">
						<div class="col">
							<h5 class="text-left title">{{product.name}}</h5>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h6 class="subdued">
								<!-- <span class="text-danger"><strong>Available:</strong></span> --> {{view.getPrimaryAttrs(product.primaryAttributes)}}
							</h6>
						</div>
					</div>

					<div class="row open-links">
	                    <div class="col col-67">
	                		<h4 class="margin-none pull-left strike" ><span class="WebRupee subdued">&#x20B9;</span> {{product.mrp}}</h4>
	                	</div>
	                	<div class="col">
	                		<h4 class="margin-none pull-right subdued"> <i class="ion-log-out"></i></h4>
	                	</div>
					</div>
				</div>
			</ion-list>

			<ion-infinite-scroll
				on-infinite="view.onInfiniteScroll()"
				ng-if="view.canLoadMore"
				distance="1%" 
				class="aj-refresher">
			</ion-infinite-scroll>

			<!-- <div class="clearfix"></div> -->
		<!-- </div> -->

	</ion-content>

	<ion-footer-bar ng-show="view.footer" class="bar-dark">
		<div class="row">
			<div class="col col-50 text-center" ng-click="view.showSortOptions()">
				<h5 class="margin-none text-light normal"><i class="ion ion-arrow-swap"></i> SORT</h5>
			</div>
			<div class="col col-50 text-center border-left">
				<h5 class="margin-none text-light normal"><i class="ion ion-funnel"></i> FILTER</h5>
			</div>
		</div>
	</ion-footer-bar>

</ion-view>
