<ion-view view-title="">

	<ion-content ng-switch="view.display" class="bg-white">

		<ion-spinner
			class="aj-spinner" 
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">
	
			<img
				class="aj-sp-img img-responsive" 
				ng-src="{{view.product.images[0].src}}">

			<div>
				<div class="row">
					<div class="col col-100">
						<h4 class="subdued text-left"> 
							<span class="text-danger">In</span> {{view.getPrimaryAttrs()}}
						</h4>
						<h3 class="text-left normal margin-none">{{view.product.name}}</h3>
					</div>
				</div>

				<br>

				<div class="row">
					<div class="col col-33">
						MRP 
						<h3 class="text-left normal margin-none strike">
							<span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}
						</h3>
					</div>

					<div class="col border-left">
						<h4 class="text-left margin-none">
							<span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}
						</h4>
						<div class="sm-text">local  <br>
							<span>as on 16/06/2015</span>
						</div>
					</div>

					<div class="col border-left">
						<h4 class="text-left margin-none">
							<span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}
						</h4>
						<div class="sm-text">Online <img src="./img/flipkart-icon.jpg"/><br>
							<span>as on 16/06/2015</span>
						</div>
					</div>
				</div>
				
			</div>
		</ion-list>
		

		<br><br>

		<ion-list class="card-list">

			<h4 ng-if="view.request.all.length > 0">
				Your earlier made requests
			</h4>

	       	<ion-item
	       		class="card"
	       		ng-repeat="request in view.request.all | limitTo: view.request.limitTo"
	       		ng-controller="EachRequestTimeCtrl"
	       		ng-click="view.request.onCardClick(request);">

				<div class="row item border-none" >
			        <div class="col  p-t-0">
			            <sm class="light-gray"> MRP</sm><br>
			            <h3 class=" item-text-wrap margin-none big-txt ">
			            	<span class="WebRupee subdued">&#x20B9;</span> {{App.toINR(request.product.mrp)}}
			            </h3>
			        </div>
			        <div class="col p-t-0">
			        	<div class="pull-right">
			            <div class="offer"> {{request.offerCount}} </div>
			            <h4 class="offertxt light-gray"> No of offers</h4>
			           	</div>
			        </div>
			    </div>
			      <div class="item item-divider">
			        <div class="pull-right ">
			            <h3 class="margin-none"> {{App.humanize(request.status)}} &nbsp;</h3>
			        </div>

			        <div class="pull-left ">
			            <sm class="subdued">{{request.timeStr}}</sm>
			        </div>
			    </div>
			</ion-item>

			<ion-item 
				ng-if="view.request.all.length > 0 && view.request.limitTo == 1"
				ng-click="view.request.showAllRequests()">
				Show all requests
			</ion-item>

			<ion-item class="item-text-wrap"
				ng-if="view.request.error"
				ng-click="view.request.onTryAgain()">
				An error occurred getting your previous requests. Please tap to retry.
			</ion-item>
		</ion-list>

		<ion-infinite-scroll
			on-infinite="view.request.get()"
			ng-if="view.request.canLoadMore"
			distance="1%" 
			class="aj-refresher">
		</ion-infinite-scroll>
				
		<aj-error 
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>

	<ion-footer-bar ng-show="view.footer" class="bar-assertive" >
		<div 
			class="title"
			ng-hide="view.request.active"
			ng-click="view.checkUserLogin()">
			Get Best Prices
		</div>
		<div 
			class="title"
			ng-show="view.request.active">
			You currently have an open request
		</div>
	</ion-footer-bar>

</ion-view>
