<ion-view >

	<ion-content ng-switch="view.display" class="bg-white">

		<ion-spinner
			class="aj-spinner" 
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">

	
				<img
					class="aj-sp-img img-responsive" 
					ng-src="{{view.product.images[0].src}}" >
				
					<div class="row">
						  <div class="col col-100">
						    	<h6 class="subdued"> 
									<span class="text-danger">In</span> 2.5 tonnes
								</h6>
						  		<h4 class="text-left normal margin-none">{{view.product.name}}</h4>
						  </div>
				   </div>
				   <br>
					<div class="row">
					  <div class="col col-33">
					  		MRP 
					    	<h3 class="text-left normal margin-none strike"><span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}</h3>

					  </div>
					  <div class="col border-left">
					  		<h5 class="text-left margin-none"><span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}</h5>
					    	<div class="sm-text">local  <br>
					    			<span>as on 16/06/2015</span>
							</div>
					  </div>
					  <div class="col border-left">
					  		<h5 class="text-left margin-none"><span class="WebRupee subdued">&#x20B9;</span> {{view.product.mrp}}</h5>
							<div class="sm-text">Online <img src="../img/flipkart-icon.jpg"/><br>
					    			<span>as on 16/06/2015</span>
					    	</div>
					  </div>
			   </div>
				
				<!-- MRP: Rs {{view.product.mrp}} -->
				<!-- Model -->
				<!-- <div class="header">
					<div class="row">
					  <div class="col col-25 ">
					  	<img
						class="img-responsive circle-image" 
						ng-src="{{view.product.images[0].src}}" >
					</div>
					  <div class="col"><h5 class="text-left normal margin-none">{{view.product.name}}</h5></div>
					</div>
				</div>
				<ul class="list">
			    <li class="item">
			        <div class="row row-fluid">
					  <div class="col col-50"><h4 class="text-left">In the box</h4></div>
					  <div class="col col-50 sm-text"> Charger, Stabelizer </div>
					</div>
			    </li>
			     <li class="item">
			        <div class="row row-fluid">
					  <div class="col col-50"><h4 class="text-left">General</h4></div>
					  <div class="col col-50 sm-text">  </div>
					</div>
			     </li>
			        <li class="item">
			        <div class="row row-fluid">
					  <div class="col col-50"><h4 class="text-left">Power Specification</h4></div>
					  <div class="col col-50 sm-text">  </div>
					</div>
			     </li>
			        <li class="item">
			        <div class="row row-fluid">
					  <div class="col col-50"><h4 class="text-left">Features</h4></div>
					  <div class="col col-50 sm-text">  </div>
					</div>
			     </li>
			        <li class="item">
			        <div class="row row-fluid">
					  <div class="col col-50"><h4 class="text-left">Warrenty</h4></div>
					  <div class="col col-50 sm-text">  </div>
					</div>
			     </li>
			</ul>
 -->

		<aj-error 
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>

		<ion-footer-bar class="bar bar-footer bar-custom-footer">
		  <button class="button button-clear btn-specification"> <i class="ion ion-ios-plus-outline"></i> Specification</button>
		  <button class="button button-assertive btn-action" ng-click="view.onMakeRequest()">Make Request</button>
	</ion-footer-bar>

</ion-view>