<ion-view
	view-title="About Us"
	ng-init="view.init()"
	class="about-us-page">

	<ion-content>

		<div class="row b-b-0">
			<div class="col aboutus">
				<center><img src="./img/logo.png" alt="Shopoye logo"></center>

				<br>

				<p>
					Version: {{view.appVersion}}<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor set amet consecutor dolerson deliora. he premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.</p>
				<!-- <div class="spacer-40"></div> -->
				<div class="social">
					<a href="#" class="social-icons"><i class="icon ion-social-facebook"></i></a>
					<a href="#" class="social-icons"><i class="icon ion-social-twitter"></i></a>
					<a href="#" class="social-icons"><i class="ion-social-googleplus"></i></a>
				</div>
			</div>
		</div>

	</ion-content>

</ion-view>