<ion-view view-title="Products">

	<ion-content>

		<ion-list>

			<div class="card" ng-click="seeOffers('one')">
				<div 
					class="item item-text-wrap"
					ng-class="(view.one) ? 'aj-alert' : ''">
					Product 1
				</div>
			</div>

			<div class="card" ng-click="seeOffers('two')">
				<div 
					class="item item-text-wrap"
					ng-class="(view.two) ? 'aj-alert' : ''">
					Product 2
				</div>
			</div>

			<div class="card" ng-click="seeOffers('three')">
				<div 
					class="item item-text-wrap"
					ng-class="(view.three) ? 'aj-alert' : ''">
					Product 3
				</div>
			</div>

		</ion-list>
		
	</ion-content>

</ion-view>