<ion-view 
	view-title=""
	ng-init="view.init()">
<ion-nav-title>
		About Us
    </ion-nav-title>
	<ion-content>

		<div class="row">
			<div class="col aboutus">
				<center><img src="./img/logo@2x.png" alt="Shopoye logo" class=""></center>

				<br>
				<br>

				<p class="">
					Version: {{view.appVersion}}<br>
				</p>
				<p>Lorem ipsum dolor set amet consecutor dolerson deliora. he premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.</p>
			</div>
		</div>

	</ion-content>

</ion-view>