<ion-view 
	view-title="Credit History"
	ng-init="view.init();">

	<div class="bar bar-subheader credit-sub-header">
		<div class="row">
			<div class="col">
				<ion-item> 
					Credit Available: {{view.creditAvailable}}
				</ion-item>
			</div>
			<div class="col">
				<ion-item> 
					Credit Used: {{view.creditUsed}}
				</ion-item>
			</div>
		</div>
	</div>

	<ion-content 
		ng-switch="view.display"
		class="has-credit-sub-header">
		
		<ion-refresher
			on-refresh="view.onPullToRefresh();" 
			class="aj-refresher">
		</ion-refresher>

		<ion-list 
			class="card-list" 
			ng-switch-when="noError">

			<div class="card" ng-repeat="credit in view.creditHistoryData">

				<div class="row">
					<div class="col col-75">
						Date : {{view.getTransactionDate(credit.createdAt)}}

						<div ng-if="credit.transactionType === 'add'">
							<b>Balance Credited</b>
						</div>

						<div ng-if="credit.transactionType === 'minus'">
							Product Name : {{credit.product.name}}
							</br>
							<b ng-if="credit.transactionTowards === 'make_offer'"> Offer Made </b>
							<b ng-if="credit.transactionTowards === 'accept_offer'"> Offer Accepted </b>
						</div>	
					</div>
					
					<div class="col col-10"></div>
					
					<div class="col">
						<div>
							<p>Points</p>
							<h2>{{credit.creditCount}}</h2> 
						</div>
					</div>
				</div>
			</div>

		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry();">
		</aj-error>

		<ion-item ng-if="view.gotAllRecords">
			No more credit history to display.
		</ion-item>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll();"
			ng-if="view.canLoadMore"
			distance="5%" 
			class="aj-refresher">
		</ion-infinite-scroll>

	</ion-content>

</ion-view>
