<ion-view 
	view-title=""
	ng-init="view.init();">
	<ion-nav-title >
		Credit History
    </ion-nav-title>
	<div class="bar bar-subheader credit-sub-header">
		<div class="row">
			<div class="col text-center">
						<h3 class=" margin-none bold text-light">{{view.creditAvailable}}
					   </h3>
						<span class="text-light text-center">Credit Available</span>
			</div>
			<div class="col text-center">
						<h3 class=" margin-none bold text-light"> {{view.creditUsed}}
					   </h3>
						<span class="text-light text-center">Credit Used</span>
			</div>
		</div>
	</div>

	<ion-content 
		ng-switch="view.display"
		class="has-credit-sub-header">
		
		<ion-refresher
			on-refresh="view.onPullToRefresh();" 
			class="aj-refresher">
		</ion-refresher>

		<ion-list 
			class="card-list list-inset margin-none" 
			ng-switch-when="noError">

			<div class="card-box2" ng-repeat="credit in view.creditHistoryData">

				<div class="row " >
					<div class="col ">
						<div class="date"> 
							  <span class="month">Aug</span>
							  <span class="day">9</span>
							  <span class="year">2015</span>
						</div>
					</div>
					<div class="col col-67">
						<!-- Date : {{view.getTransactionDate(credit.createdAt)}} -->

						<div ng-if="credit.transactionType === 'add'">
							<br><b class="text-default uppercase">Balance Credited</b>
						</div>

						<div ng-if="credit.transactionType === 'minus'">
							 <h5 class="margin-none subdued text-left">{{credit.product.name}}</h5>
						
							<b ng-if="credit.transactionTowards === 'make_offer'" class="text-default uppercase"> Offer Made </b>
							<b ng-if="credit.transactionTowards === 'accept_offer'" class="text-default uppercase"> Offer Accepted </b>
						</div>	
					</div>
					

					
					<div class="col col-20">
						<div>
							<p class="margin-none text-center">Points</p>
							<h3 class="normal margin-none text-primary">{{credit.creditCount}}</h3> 
						</div>
					</div>
				</div>
			</div>

		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry();">
		</aj-error>

		<div ng-if="view.gotAllRecords">
		<h4 class="text-center "> That's all folks,	No more credit history to display.</h4>
		</div>

		<ion-infinite-scroll
			on-infinite="view.onInfiniteScroll();"
			ng-if="view.canLoadMore"
			distance="5%" 
			class="aj-refresher">
		</ion-infinite-scroll>

	</ion-content>

</ion-view>
