<ion-view view-title="Credit History">

	<ion-content ng-switch="view.display">
			<ion-refresher
				on-refresh="view.onPullToRefresh()" 
				class="aj-refresher">
			</ion-refresher>

			<ion-list 
				class="card-list" 
				ng-switch-when="noError">

				<ul class="list">
					<li class="item">
						<div class="row"> 
								<div class="col col-50"> Credit Available  </div> 
								 <div class="col col-50"> {{view.availableCredit}} </div> 
						</div>
					</li>
					<li class="item">
						<div class="row"> 
								<div class="col col-50"> Credit Used  </div> 
								 <div class="col col-50"> {{view.creditUsed}} </div> {{view.createdAt}}
						</div>
					</li>
				</ul>

				<div class="card"
					 ng-repeat="request in view.creditHistoryData" 
					 ng-controller="EachDisplayDateCtrl">

					<div class="row">
						<div class="col col-50">
							<div class="">
								Date : {{request.timeStr}}
								<br>
								Product Name : {{request.product.name}}
								<br>
								Offer made 
							</div>	
						</div>

						<div class="col col-50">
							<div class="pull-right">
								<p> Credit Points Used </p>
								
								   <h2> &nbsp; &nbsp; {{request.creditCount}} </h2> 
							</div>
						</div>
					</div>
					
				</div>

			</ion-list>

			<aj-error
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.onTapToRetry()">
			</aj-error>

			<ion-item ng-if="view.getAllHistory">
				 No more credit history to display.
			</ion-item>

			<ion-infinite-scroll
				on-infinite="view.onInfiniteScroll()"
				ng-if="view.canLoadMore"
				distance="10%" 
				class="aj-refresher">
			</ion-infinite-scroll>

	</ion-content>
	<ion-footer-bar class="bar-dark">
	
	</ion-footer-bar>

</ion-view>
