<ion-view view-title="Verify your phone number">
	
	<ion-nav-buttons side="right">
		<button 
			class="button"
			ng-click="view.onNext()">
			Next
		</button>
	</ion-nav-buttons>

	<ion-content class="aj-text">

		</br></br>
		<div class="list" ng-switch="view.display">

			<div ng-switch-when="noError">
				<h5 class="gray">To complete your phone number verification, please enter the 6 digit activation code sent to +91{{view.user.phone}}</h5>

				</br>
				<label class="item item-input">
					<input type="tel" minlength="6" maxlength="6" ng-model="view.smsCode">
				</label>

				</br></br>
				<h4 ng-click="view.isExistingUser()">Resend the code?</h4>

			</div>

			<div ng-switch-when="maxAttempts">
				<h3>Sorry...</h3>

				</br>
				<h5 class="gray">Exceeded maximum number of attempts. Please contact our support and enter code manually.</h5>

				</br>

				</br>
				<label class="item item-input">
					<input type="tel" minlength="6" maxlength="6" ng-model="view.smsCode">
				</label>
			</div>

			<aj-error 
				ng-switch-when="error"
				error-type="view.errorType"
				tap-to-retry="view.onTapToRetry()">
			</aj-error>

		</div>

	</ion-content>
</ion-view>
