<ion-slide-box>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/blue.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/yellow.png');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/pink.jpg');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/green.jpg');"></div>
	</ion-slide>

	<ion-slide>
		<div class="aj-slide-img" style="background-image: url('img/slidebox/red.jpg');">
			
			<button 
				class="button button-outline button-light aj-btn"
				ng-click="onGetStarted()">
				Get Started
			</button>
		</div>
	</ion-slide>

</ion-slide-box>