<ion-view>

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button 
			menu-toggle="left" 
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<span class="notification badge badge-assertive">2</span>
		<button 
			class="button button-icon ion-ios-person-outline"
			ng-click="view.userPopover.show($event)">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-spinner
			class="aj-spinner" 
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">
			<a 
				class="item item-thumbnail-left"
				ng-repeat="category in view.parentCategories"
				ng-click="App.navigate('sub-categories', {parentID: category.id})">

					<img ng-src="{{category.image.src}}">
					<h2>{{category.name}}</h2>
			</a>
		</ion-list>

		<aj-error 
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>
</ion-view>
