<ion-view>

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button 
			menu-toggle="left" 
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-spinner
			class="aj-spinner" 
			ng-switch-when="loader">
		</ion-spinner>

		<!--ion-list ng-switch-when="noError">
			<a 
				class="item item-thumbnail-left department-list"
				ng-repeat="category in view.parentCategories"
				ng-click="App.navigate('sub-categories', {parentID: category.id})">
					<div class="row">
					  <div class="col col-50"><h2>{{category.name}}</h2></div>
					  <div class="col col-50 "><img ng-src="{{category.image.src}}" class="img-responsive"></div>
					</div>
					
					
			</a> 
		</ion-list-->

		<ion-list ng-switch-when="noError">
			<div 
				class="item item-thumbnail-left department-list" 
				ng-repeat="category in view.parentCategories">

				<center>
					<h2>{{category.name}}</h2>
				</center>

				<div class="row row-center">
					<div class="col "ng-repeat="subCategory in category.children |limitTo:4" > 
						<div 
							class="item item-avatar border-none bg-none"  
							ng-click="view.onSubcategoryClick(category.children, subCategory.id)">
							<img ng-src="{{subCategory.image.src}}">
						</div>
					</div>
					<div 
						class="item item-avatar border-none bg-none" 
						ng-click="App.navigate('sub-categories', {parentID: category.id})">
						<img ng-src="{{category.image.src}}">
					</div>
				</div>
			</div>
		</ion-list>

		<aj-error 
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>
</ion-view>
