<ion-view>

	<ion-nav-title>
		<img src="img/logo.png"/>
    </ion-nav-title>

	<ion-nav-buttons side="left">
		<button 
			menu-toggle="left" 
			class="button button-icon icon ion-navicon">
		</button>
	</ion-nav-buttons>

	<ion-content ng-switch="view.display">

		<ion-spinner
			class="aj-spinner" 
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">
			<a 
				class="item item-thumbnail-left department-list"
				ng-repeat="category in view.parentCategories"
				ng-click="App.navigate('sub-categories', {parentID: category.id})">
					<div class="row">
					  <div class="col col-50"><h3>{{category.name}}</h3></div>
					  <div class="col col-50"><img ng-src="{{category.image.src}}" class="img-responsive"></div>
					</div>
					
					
			</a>
		</ion-list>

		<aj-error 
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>
</ion-view>
