label{
  font-size: 15px;
}
.logo {
    margin: 0 14px;
}
.header-seperation{
	    background-color: #FFFFFF;
}
.menu-title,.table tr{
	    cursor: pointer;
}
i.pagination{
	font-weight: bold;
    width: 20px;
    height: 20px;
    background-color: #736086;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    margin-top: 10px;
}