<ion-view view-title="Local Hyper">

	<ion-nav-buttons side="secondary">
		<button class="button button-clear button-positive">
			Forgot
		</button>
	</ion-nav-buttons>

	<ion-content>
		<div class="list list-inset">
			<label class="item item-input">
				<input type="text" placeholder="Username">
			</label>

			<label class="item item-input">
				<input type="password" placeholder="Password">
			</label>
		</div>

		<div class="padding">
			<button class="button button-block button-dark" ng-click="App.navigate('requests')">Login</button>
		</div>
	</ion-content>

</ion-view>