<ion-view view-title="Local Hyper">

	<ion-content>

		<div ng-if="!register.maxAttempts">
			<div class="list list-inset">
				<label class="item item-input">
					<input type="text" placeholder="Name" ng-model="register.name">
				</label>

				<label class="item item-input">
					<input type="tel" placeholder="Phone" ng-model="register.phone">
				</label>
			</div>

			<div class="padding">
				<button 
					class="button button-block button-dark"
					ng-click="requestSMSCode()">
					Proceed
				</button>
			</div>
		</div>

		<ion-item 
			class="item-text-wrap"
			ng-if="register.maxAttempts">
			Exceeded maximum number of attempts. Please contact support.
		</ion-item>
	</ion-content>

</ion-view>