<ion-view hide-nav-bar="true">
	
	<ion-pane class="homescreen">
		
		<img src="img/h-logo.png" width="150px" class="text-center logo"/>

		<div class="row bottom-fixed">
			<div class="col col-50 "> 
				<button 
					class="button button-block button-calm"
					ng-click="App.navigate('login');">
					Login
				</button>
			</div>
			<div class="col col-50 "> 
				<button 
					class="button button-block button-dark"
					ng-click="App.navigate('register');">
					Sign Up
				</button>
			</div>
		</div>

	</ion-pane>

</ion-view>