/* External CSS */


@import "variables";

/**** Fonts ****/
@import url(../../styles/fonts/source_sans/stylesheet.css);

/************************************/
/* Commen css */
/************************************/

h1, h2, h3, h4, h5, h6, p, input, button, select, textarea, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider, span, div, input, textarea, select, small, big, b, strong, body {
	font-family: 'source_sans' !important;
	color: #424242;
}
h1, h2, h3, h4, h5, h6{
	/*font-weight: 800;*/
}
.bold{
	font-weight: bold;
}
.icon-input{
	 font-size: 20px;
    line-height: 12px;
}
.button {
	font-weight: 600 !important;
}
.bar-footer .title{
	margin:0px;
}
.row-fluid{
	padding: 0px;
}
.text-primary{
	color: @brand-primary;
}
.bg-white{
	background: @white !important;
}
.m-title{
	font-size: 16px !important;
}
.normal{
	  font-weight: 600 !important;
}
.strike{
	 text-decoration: line-through;
}
.text-danger{
	color:@brand-primary;
}
.text-light{
	color:@white;
}
.border-left{
	border-left:1px solid #ccc;
}
.border-right{
	border-right:1px solid #ccc;
}
.bottom-fixed{
	position:absolute;
	bottom:0px;
}
.center-img{
	display: block;
	margin: auto;
}
.logo{
	  display: block;
	  margin: auto;
	  margin-top: 50%;
}
.img-responsive{
	  width: 100%;
}
.margin-none{
	margin:0px !important;
}
sm{
   font-size: 11px;
}
.platform-android .popover {
	height: 170px;
	width: 250px;
}
.subdued{
	  color: #747474;
}
.normal-space{
	  overflow: visible !important;;
      white-space: normal !important;;
}
.nav-bar-title{
	// text-transform:uppercase;
	font-size:16px;
	font-weight: bold;
}
.center-block{
	margin:auto;
	display:block;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.upper-case{
	text-transform:uppercase;
}
.input-border{
	  border-bottom: 1px solid @black !important;
	}
.button-border{
	text-decoration: underline;
}
.comment{
	background-color:#F2F1ED !important;
}
.m-t-5{
	margin-top: 5px!important;
}
.p-t-10{
	margin-top: 10px!important;
}
.relative{
	position: relative!important;
}
.right{
	right: 0!important;
}
.left{
		left: 0 !important;
}
.border-none{
	border: 0px;
}
.aj-img{
	height: 90px;
}
.bg-white{
	background: @white;
}
.Categories{
	 		    background: url(../../img/gray-bg.png)no-repeat;
	            background-size: 100%;
}
.bar-light{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.bar.bar-light .title {
	left: 60px !important;
	right: 60px !important;
	span.nav-bar-title {
		max-width: 150px;
		display: block;
		margin: 0 auto;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
button.button.button-assertive {
	b {color: #fff;}
}
.mi-wi-65 {
	min-width: 65px;
}
/************************************/
/* HEADER */
/************************************/
.nav-bar-title{
	img{
	    margin-top: 5px;
    	height: 30px;
	}
}
.has-header{
	// background: @gray-transperent;
	background-color: #F2F1ED;
}
.tabs-subheader{
	.tabs{
	background: #1f1f1f !important;
	color:@white;
	}
	.tab-nav{
    		i{
    		color:@white;
    		}
    	}
	.tab-title{
		font-size: 16px;
		color:@white;
    	font-weight: 600;

	}
	.tab-item-active{
		border-color: #F7575B !important;
	}
}
.bar-subheader{
		background-color: #1f1f1f !important;
		height: 52px; //was 60
}
[nav-bar-transition=ios] [nav-bar=active] .bar.bar-header.bar-light, .bar.bar-header  {
	/*background-image: url(../../img/header-bg.jpg) !important;*/
	background-color: #1f1f1f !important;
	background-repeat: repeat-x !important;
	/*border-bottom:1px solid @gray-lighter !important;*/
	.button{
		color:@white;
	}
	.nav-bar-title, .title{
		color:@white;
	}
	.notification{
		  height: 20px;
		  width: 20px;
		  text-align: center;
		  padding: 2px 3px;
		  position: absolute;
          margin-left: -4px !important;
		  z-index: 9999;
	}

}
.number-count{
	margin-bottom: -5px !important;
	white-space: nowrap;
}
.aj-right-popover{
	 hr{
	    border: none;
	    height: 3px;
	    background-color: @gray-dark;
	}
	.item {
		padding: 20px 0px 0px 49px;
		&.item-icon-left {
			padding: 20px 0px 0px 35px;
		}
		i {
			font-size: 22px;
			left: 0px;
  			top: 9px;
		}
	}
}

/************************************/
/* Menu */
/************************************/
.aj-menu-bg {
	.item{
		font-size: 14px;
	}
}
.sprite-icon{
	  background: url(../../img/sprite.png)no-repeat;
	  width: 30px;
	  height: 30px;
	  display: inline-block;
	  margin-bottom: -10px;
}
.i-store{
	.sprite-icon;
	 background-position: -8px -8px;
}
.i-call{
	.sprite-icon;
	 background-position: -7px -60px;
}
.i-share{
	.sprite-icon;
	 background-position: -9px -120px;
}
.i-rate{
	.sprite-icon;
	 background-position: -9px -182px;
}
.i-help{
	.sprite-icon;
	 background-position: -9px -245px;
}
.i-suggest{
	.sprite-icon;
	 background-position: -9px -305px;
}
.i-about{
	.sprite-icon;
	 background-position: -9px -367px;
}
.i-price-high{
	  width: 45px !important;
	.sprite-icon;
	 background-position: -61px -10px;
}
.i-price-low{
	  width: 45px !important;
	.sprite-icon;
	 background-position: -61px -79px;
}
.i-popularity{
	  width: 45px !important;
	.sprite-icon;
	 background-position: -61px -160px;
}

/************************************/
/*Department List*/
/************************************/

.department-list{
	/*height: 199px;*/
	height: 190px;
	// background: @gray-transperent;
	padding:0px;
	h2{
		text-overflow: inherit;
		text-transform: uppercase;
		overflow: visible;
		white-space: normal;
		margin: 2px auto;
		margin-bottom: 10px !important;
		font-weight: 700;
		// .fontopen;
		color: #1f1f1f;
	}
	h4 {
		// .fontopen;
		text-transform: uppercase;
		margin-top: 30px;
		color: #5d5d5d;
		font-weight: 300;
	}
	div.button.btn-out {
		display: block;
		clear: both;
		height: auto;
		min-height: 0;
		i {
			float: left;
			margin-right: 3px;
		}
	}
	.btn-more {
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		padding: 0;
		margin: 0 auto;
		display: block;
		min-width: 0;
		min-height: 0;
		text-align: center;
		i.icon {
			padding-top: 1px;
			display: block;
		}
	}
/*	h3{
		 font-weight: 600;
		 text-transform: uppercase;
		 margin:80px 5px;
		 text-align:left;
	}
	img{
		  width: 45%;
		  position: absolute;
		  top: 35px ;
		  right: -10px;

	}*/

}
.department-list:nth-child(2n){
	background: @white;
/*	img{
		    left: -22px;

	}
	h3{
		text-align:right;
	}*/
}

/************************************/
/* Sub Categories*/
/************************************/

.sub-categories {
	background:@white;
		.border-card2{
			height: 225px !important;
 		    // background: none !important;
 		    &.border-card {
	 		    background: #ffffff; /* Old browsers */
	 		    border-right: 1px solid rgba(190, 190, 190, 0.63);
	 		    border-left: 1px solid #FFF;
	 		    border-bottom: 1px solid rgba(190, 190, 190, 0.63);
	 		    &.activated {
	 		    	background-color: #F5F4F4;
	 		    }
 		    }

	}
	.border-card{
		/*border-left: 1px solid @gray-lighter;*/
		border-right: 1px solid @gray-lighter;
		border-bottom: 1px solid @gray-lighter;
		box-shadow: 1px 2px 1px rgba(0, 0, 0, 0);
		height: 8rem;
		float: left;
		background: url(../../img/gray-bg.png)no-repeat;
		background-size: 100%;
	    &:first-child, &:nth-child-of-type(3n) {
	    	background: #F5F5F5 !important;
	    }
	 .aj-title{
	 	  text-align: center;
		  position: absolute;
		  bottom: 0px;
		  margin: 10px auto;
		  left: 0%;
		  right: 0%;
	 }
         .title{
         	  height: 39px;
         	  font-size: 16px;
         	  font-weight: 400;
         	  line-height: 20px;
         	  display: block;
			  display: -webkit-box;
			  max-width: 100%;
			  -webkit-line-clamp: 2;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;

         }


	}
}
.product-list{
		.border-card{

		}
		h4{
			color:@brand-primary ;
		}

}

/************************************/
/* Sort model */
/************************************/
.sort-model{
	  width:80%;
	  height: 216px;
	  overflow: auto;
	  margin: auto;
	  position: absolute;
	  top: 0; left: 0; bottom: 0; right: 0;
      min-height: inherit;
      text-align: left;
      .item-title{
      	    font-weight: bold;
   			 border-bottom: 3px solid #BDBDBD;
      }
      li{
          padding: 8px;
    	  line-height: 30px;

		img{
			    width: 30px;
			    float: left;
			    margin-right: 10px;
			    -webkit-filter: grayscale(100%); filter: grayscale(100%);
		}
      }

}
 .modal-backdrop-bg {
 		 background: rgba(0, 0, 0, 0.34);
}
.item.active{
		color:@brand-primary;
		 background-color: #fff;
	img{
		 -webkit-filter: grayscale(0%); filter: grayscale(0%);

	}
}


/************************************/
/* Single Product  */
/************************************/
.btn-specification{
	font-size: 15px !important;
	color:@black!important;
}
.btn-action{
	font-weight: 600 !important;
	width:50%;
}
.sm-text{
	  font-size: 13px;
      line-height: 15px;
		span{
			font-size: 10px;
			color:@gray-dark;
		}
}
.bar-custom-footer{
	  border-top: 1px solid rgba(204, 204, 204, 0.44);
     HEIGHT: 50PX;
}
.aj-sp-img{
		margin:6% auto;
}
.model-view{
	  min-height: 22rem;
	  bottom: 0px;
	  top: inherit;
	  .has-header{
	  	background:@white;
	  }
}

/************************************/
/* TABS  */
/************************************/
.tabs{
	.tab-item{
		font-size: 12px
	}
}
.btn-danger{
	color: @brand-primary
}
.label{
	  border: 1px solid #ccc;
	  padding: 0px 5px;
	  font-size: 11px;
	  color: @gray;
	  display: inline-block;
}
.offer{
	  width: 45px;
	  height: 45px;
	  -webkit-border-radius: 100%;
	  -moz-border-radius: 100%;
	  -o-border-radius: 100%;
	  border-radius: 100%;
	  border: 1px dashed #000;
	  text-align: center;
	  font-size: 1.5rem;
	  line-height: 40px;
	  margin: 8px auto;
}
.offertxt{
	  background: @white;
  	  margin-top: -15px !important;
  	  text-align: center;
  	  // text-transform: uppercase;
}


.my-requests-glob {
	.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
		img, & > img:first-child {top: 0;}
	}
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
	padding: 0;
	min-height: 0;
	width: 65px; //70
	height: 65px; //70
	margin: 0 auto;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	overflow-x: hidden;
	overflow-y: hidden;
	overflow: hidden;
	background: #fff;
	border: 1px solid #D6D6D6;
	text-align: center;
	line-height: 50px; //65
	position: static;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	img, & > img:first-child {
		width: 100%;
		height: auto;
		max-width: none;
		max-height: none;
		border: 0;
		border-radius: 100%;
		position: relative;
		left: 0;
		top: 8px;
		display: inline-block;
		vertical-align: middle;
	}
	&.activated {
		background: #fff;
		border-color: @brand-primary;
		color: @brand-primary;
		-moz-box-shadow: 0 0 8px rgba(243, 90, 89, 0.46);
		-webkit-box-shadow: 0 0 8px rgba(243, 90, 89, 0.46);
		box-shadow: 0 0 8px rgba(243, 90, 89, 0.46);
		img {
			opacity: 0.5;
		}
		&.more-link span {
			color: #aaa;
		}
	}
	&.more-link {
		line-height: 9px;
		i {
			display: block;
			text-align: center;
			font-size: 32px;
			padding: 0px;
			margin: -5px;
			padding-top: 15px;
			color: #EF473A;
		}
		span {
			// display: none;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: @brand-primary;
		}
	}
}

.full-cont {padding: 0}
.button.button-full.button-view-all-cat {
	background-color: #0f0f0f;
	background-image: url(../../img/browse-all-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
	i.icon {
		margin-right: 25px;
		margin-top: -1px;
		display: inline-block;
	}
}
.suggest-btn {
	.row, .col {
		padding-top: 0;
		padding-bottom: 0;
	}
	.button.button-assertive {
		margin: 0;
	}
}
.item-input {
	.input-label {
		font-size: 14px;
		i.icon {
			font-size: 20px;
			margin-right: 5px;
			padding: 0;
			line-height: 0;
			color: #989898;
			width: 23px;
			text-align: center;
		}
	}
	input, textarea {
		font-size: 14px;
		line-height: 20px;
	}
}

.about-us-page {
	// background: url(../../img/bg-abt.png);
	background-color: #1f1f1f;
	background-size: cover;
	.has-header {
		background: transparent !important;
	}
	.b-b-0 {
		border-bottom: 1px solid #313131;
		margin-bottom: 20px;
	}
	p {
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
		color: #7D7D7D;
	}
	.aboutus {
		margin-top: 35px;
	}

	.social {
		margin-top: 20px;
		text-align: center;
		a {
			display: inline-block;
			font-size: 20px;
			color: #f45152;
			margin-left: 5px;
			margin-right: 5px;
			width: 35px;
			height: 35px;
			line-height: 36px;
			text-align: center;
			border: 1px solid #444;
			border-radius: 50%;
			&.activated {
				background: @brand-primary;
				border-color: @brand-primary;
				color: #fff;
			}
		}
	}
}


//Product list
.sing-pro {
	h5 {
		margin-top: 5px;
		margin-bottom: 0;
	}
	h6.subdued {
		margin: 0;
		padding-bottom: 8px;
		// border-bottom: 1px solid #ddd;
	}
	h4.margin-none.pull-right.subdued i.ion-log-out {
		display: none;
	}
	.open-links {
		h6 {}
	}
}

.list-cont {
	  // padding: 15px;
  position: relative;
}


.category{
		.input-label {
			  width: 100%;
			  max-width: 100%;
		}
		select{
			  padding: 3px;
 				 right: 30px;
		}
}


// ************* Forms ******************* //

.form-field{
	.input-label {
		color: #c5c5c5;
		font-size: 11px;
		text-transform: uppercase;
  		padding-top: 0;
  		font-size: 14px;
  		// i.icon {
  		// 	font-size: 20px;
  		// 	margin-right: 5px;
  		// 	padding: 0;
  		// 	line-height: 0;
  		// 	color: #989898;
  		// 	width: 23px;
  		// 	text-align: center;
  		// 	vertical-align: bottom;
  		// }
  		// padding-left: 45px;
	}
	// .item {
	// 	position: relative;
	// 	border-top: 0 !important;
	//   	border-bottom: 1px solid #DADADA !important;
	//  }
	.ico-out {
		display: none;
		color: @brand-primary;
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 100%;
		font-size: 28px;
		border-right: 1px solid #eee;
		padding-left: 13px;
		padding-right: 10px;
		margin-right: 10px;
		  line-height: 50px;
		    background: #F7F7F7;
	}
	input{
		font-weight: 500;
		font-size: 16px;
		height: 26px;

		// padding-left: 45px;
	}
	.item {
		border-color: #F4F4F4;
		background-color: #fff;
		color: #000;
	}
}

//Location


.address-inputs {
	padding-top: 8px;
	label.no-input {
		font-size: 14px;
		line-height: 25px;
		background-color: #EFEFEF;
	}
}

.bar-footer.with-btn {
	margin: 0;
	padding: 0;
	.button {
		margin: 0;
		font-size: 14px;
		border-radius: 0;
		i {margin-right: 5px;}
	}
	& > .button+.button:last-child {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

//Request Details
.obj-title {
	background: #fff;
	padding-bottom: 0;
	padding-top: 8px;
	text-align: left;
	.item-avatar {
		margin-top: 5px;
		border: 1px solid #efefef;
		box-shadow: 0 0 0 #fff;
		background: #fff;
	}
	.col .item.item-accordion.item-text-wrap {
		font-size: 14px;
		// line-height: 20px !important;
		padding: 5px 12px;
		margin-top: 10px;
		// box-shadow: 0 1px 1px rgba(0,0,0,0.4);
		border: 0;
		&.com-acc {
			min-width: 150px;
			float: right;
		}
	}
	h4 {
		color: #272727;
		text-align: left;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	p.details {
		color: #9b9b9b;
		text-align: left;
		margin-bottom: 0;
		span {
			color: #f65050;
		}
	}
	p.loca {
		color: #acacac;
		margin-bottom: 0;
		margin-top: 7px;
		// padding-left: 15px;
		span {
			color: #010101;
			margin: 0 5px;
		}
		a {
			text-decoration: none;
			color: @brand-primary;
		}
	}
	.button-lighter.button.button-dark.button-outline {
		float: right;
		border-color: #bdbdbd;
		padding: 0 10px;
		line-height: 35px;
		vertical-align: middle;
		height: auto;
		min-height: 0;
		max-height: none;
		white-space: nowrap;
		img {
			height: 14px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 2px;
			margin-top: -5px;
		}
	}
	label.status-text {
		color: @balanced;
		text-transform: uppercase;
		padding: 0 1px;
	}
	.expires {
		padding-top: 7px;
		h2 {
			font-weight: bold;
			color: #464646;
			font-size: 25px;
			margin-bottom: 0;
			margin-top: 3px;
			margin-right: 9px;
			min-width: 92px;
		}
		p.exp_in {
			color: #959595;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		p.why {
			margin-bottom: 0;
			a {
				color: #b3b3b3;
				text-decoration: underline;
				font-size: 13px;
				line-height: 18px;
				display: block;
			}
		}
		.button.button-outline.button-balanced {
			padding: 0 9px;
			line-height: 35px;
			vertical-align: middle;
			height: auto;
			min-height: 0;
			max-height: none;
			text-transform: uppercase;
			border: 0;
			background-color: transparent;
			border-left: 1px solid #33cd5f;
		}
		.button.button-outline.button-assertive {
			display: block;
			width: 100%;
			border: 0;
			padding: 0;
			margin: 0;
			min-height: 0;
			min-width: 0;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
}
.dash-div {
	width: 100%;
	height: 1px;
	border-top: 2px dashed #c8c8c8;
	margin-top: 5px;
}
*.no-shadow {
	-webkit-box-shadow: 0 0 0 #fff;
	-moz-box-shadow: 0 0 0 #fff;
	-ms-box-shadow: 0 0 0 #fff;
	-o-box-shadow: 0 0 0 #fff;
	box-shadow: 0 0 0 #fff;
}

.rece-offer {
	.user-details {
		button.button.button-dark {
			display: inline-block;
			line-height: 19px; //was 21
			min-height: 0;
			padding: 2px 6px;
			padding: 0 6px;
			// position: absolute;
			// right: 50px;
			// top: 42px;

			//remove this if yellow color isn't liked
			border-color: #E4D41A;
			background-color: #FFF046;
			color: #4C4602;
			&.activated {
				color: #E4D41A;
				background-color: #444;
				border-color: #222;
			}
		}
	}
	.user-wrap {
		width: 50px;
		height: 50px;
		line-height: 73px;
		text-align: center;
		border-radius: 5px;
		background: #ededed;
		margin-right: 12px;
	}
	h3 {
		font-size: 18px;
		color: #6d6d6d;
		font-weight: bold;
		text-align: left;
		margin-bottom: 3px;
		margin-top: 0;
		padding-right: 35px;
		line-height: 22px;
		span {
			font-weight: 300;
    		color: #5D5D5D;
    		margin-right: 2px;
		}
	}
	p.time-rece {
		font-style: italic;
		color: #aaaaaa;
		margin-top: 1px;
		margin-bottom: 0;
	}
	p.comment {
		color: #777777;
		opacity: .6;
		margin-bottom: 0;
		position: absolute;
		right: 15px;
		top: 42px;
		button.button.icon {
			padding: 1px 8px 0;
			min-height: 0;
			line-height: 23px;
		}
		button.button.rating-btn {
			min-height: 0;
			padding: 0 8px;
			line-height: 23px;
		}
		img {
			height: 15px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
			    opacity: .6;
		}
		span {
			display: inline-block;
			top: 2px;
			position: relative;
		}
	}
	.dash-div {
		margin-left: -16px;
		margin-right: -16px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: auto;
	}
	.vert-div {
		height: 50px;
		width: 1px;
		background-color: #c9c9c9;
		margin-right: 6px;
	}
	.offer-vals {
		padding-top: 6px; //was 10
		.info {
			font-size: 13px;
			color: #ababab;
			text-align: center;
			margin-bottom: 0;
			margin-top: 3px;
		}
		h2 {
			font-size: 20px;
			font-weight: bold;
			small {
				font-weight: normal;
				font-size: 14px;
			}
			&.call-support {
				font-size: 14px;
				color: #33CD5F;
				padding: 5px 0;
				text-indent: 0;
				margin-left: 7px;
				display: block;
				border: 1px solid #33cd5f;
			}
		}
		.button {
			padding: 0 15px;
			margin-top: 6px;
			height: auto;
			min-height: 0;
			line-height: 35px;
			&.btn-phone {
				padding: 0 11px;
				// float: right;
				margin-top: 0;
				width: 40px;
				height: 40px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-o-border-radius: 50%;
				border-radius: 50%;
				& .icon:before {
					font-size: 24px;
					line-height: 29px;
				}
			}
			&.button-balanced.call-support {
				font-size: 12px;
				line-height: 16px;
				padding: 1px 5px;
				margin-top: 3px;
				font-weight: normal !important;
			}
		}
	}
}
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}
.high-span {
	color: #686667;
	b {
		color: #252525;
	}
	&.rec-off {
		margin-top: 8px;
		margin-bottom: 5px;
	}
}
.no-offs-det {
	padding-top: 25px;
	img {
		height: 120px;
		display: inline-block;
		margin-bottom: 10px;
		margin-left: -50px;
	}
}
.bar-primary {
	background-color: @brand-primary;
	.title {
		font-weight: bold;
		font-size: 16px !important;
		color: #fff;
	}
}

.spacer-40 {
	height: 40px;
}
.spacer-20 {
	height: 20px;
}
.fin {
    color: #969696;
    margin-top: 15px; //was 25
}

//
.bg-lightgrey {
	background-color: #f2f1ed;
	.list {
		.no-err {
			background-color: #f2f1ed;
		}
		// border-top: 1px solid #909090;
	}
}
.early-head {
	padding-top: 15px;
    margin-top: 0;
    // margin-bottom: -10px;
}
.show-all-req {
	background-color: transparent;
	border: 0;
	text-align: center;
	color: @brand-primary;
}
.req-ca {
	// border: 2px solid #f35a59;
	&.activated {
		box-shadow: 0 0 1px 1px @brand-primary;
	}
	.WebRupee {
		font-size: 20px;
	}
	.item-divider {
		// border-top: 1px solid #949494;
		padding: 7px 8px;
		// background: #FFE9E9 !important;
	}
	.status-label {
		font-size: 18px;
		padding-top: 0;
		white-space: normal;
		line-height: 19px;
		display: inline-block;
		margin-top: 3px;
		position: relative;
		top: 2px;
		&.small-let {
			text-transform: none;
			font-size: 12px;
			display: inline-block;
			top: -1px;
		}
	}
	p {
		margin-bottom: 0;
		margin-top: 2px;
	}
	.col {position: relative;}
	.vert-div {
		height: auto;
		width: 1px;
		background-color: #c9c9c9;
		margin-right: 9px;
		position: absolute;
		top: 3px;
		left: 0;
		bottom: 8px;
	}
	.border-top-dash {
		border-top: 1px dashed #DADADA;
	}
}
.WebRupee.sym-sma {font-size: 16px;}


label.status-label {
	text-transform: uppercase;
	padding: 2px 1px;
	display: block;
	font-size: 14px;
	// letter-spacing: 1px;
}
.status-assertive, .color-assertive {
	color: @brand-primary;
}
.status-balanced, .color-balanced {
	color: @balanced;
}
.status-positive {
	color: @positive;
}
.status-expired {
	color: #BFBEBE;
}
.color-greylight {
	color: @gray-light;
}

//Filter view
.filters-white-bg {
	background-color: @white;
	.has-header {
		background-color: transparent;
	}
}
.filter-head {
	button.button {
		font-size: 15px;
		margin-left: 5px;
		&.btn-close {
			font-size: 32px;
		}
	}
}
.products-filter-view {
	margin-top: 9px;
	label.item-radio {
		/* border-color: #666; */
		font-size: 14px;
		background-color: transparent;
		text-align: center;
		.item-content {
			padding: 14px 10px;
			background: transparent;
			color: #444;
			position: relative;
			// box-shadow: 0 0 0 #000;
			.sel-count {
				float: right;
				width: 19px;
				height: 19px;
				line-height: 21px;
				font-size: 14px;
				color: #fff;
				background-color: #444;
				// border-radius: 50%;
				text-align: center;
				font-weight: bold;
				margin-top: 0px;

				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		input:checked~.item-content {
			background-color: @white;
			color: @brand-primary;
		}
		input[value=brand] + .item-content.ng-binding:before {
			content: "\f2aa";
			margin-bottom: 2px !important;
		}
		input[value=price] + .item-content.ng-binding:before {
			content:"₹";
		}
		input[value=brand] + .item-content.ng-binding:before,
		input[value=price] + .item-content.ng-binding:before {
			display: block;
			margin: 0 auto;
			margin-bottom: 5px;
			// border: 1px solid #ddd;
			font-family: "Ionicons";
			speak: none;
			font-size: 18px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			text-rendering: auto;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	.item-checkbox {
		padding: 9px 60px;
		padding-right: 9px;
	}
	.checkbox input, .checkbox-icon {
		width: 24px;
		height: 24px;
		top: 2px;
		&:after {
			top: 31%; //was 31
			left: 21%;
			width: 14px;
			height: 7px;
			border: 2px solid #fff;
			border-top: 0;
			border-right: 0;
		}
	}
	.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
		background: #f45152;
		border-color: #f45152;
	}
	.col.col-33.p-a-0 {
		position: relative;
		z-index: 3;
		&:before {
			content: '';
			width: 33.6%;
			height: 1000%;
			position: fixed;
			background-color: #F2F1ED;
			border-right: 1px solid #ddd;
		}
	}
}


.card-list{
	.activated{
		background: @white !important;
		background-color: @white !important;
		.item{
		background: @white !important;
		background-color: @white !important;
	}
}
.status{
	b{
		color: @brand-primary;
		font-weight: 400;
    	text-transform: uppercase;
	}
}
		.card{
			padding: 0px;
			.item{
				padding-bottom: 0px;
				min-height: 35px !important;
			    background: #fff;

			}
			.item-divider{
				border-top: 1px dashed #ccc;
			}
			.big-txt{
				font-size: 1.5rem;
				float: left;
				font-weight: 600;
				span{
					font-size: 20px;
				}
			}
		}
	.btn-danger{
		color: @brand-primary
	}
	.label{
		  border: 1px solid #ccc;
		  padding: 0px 5px;
		  font-size: 11px;
		  color: @gray;
		  display: inline-block;
	}
	.offer{
		  width: 42px;
		  height: 44px;
		  -webkit-border-radius: 100%;
		  -moz-border-radius: 100%;
		  -o-border-radius: 100%;
		  border-radius: 100%;
		  border: 1px dashed @black;
		  text-align: center;
		  font-size: 1.5rem;
		  line-height: 39px;
		  margin: 5px 10px;;
		  font-weight: 500;
	}
	.offertxt{
		  background: @white;
		  margin-top: -15px;
		  text-align: left;
	}
}
.item-wrapper-nr {
	.item-avatar {
		    padding: 6px;
    		margin-top: 8px;
	}
	h2 {
		text-overflow: clip;
		height: auto;
		white-space: normal;
		font-weight: 400;
	}
}

.bar-footer{
	    box-shadow: 0px 5px 15px #000;
}
/*.request{
	background: url(../../img/request.png) no-repeat;
    width: 35px;
    height: 35px !important;
    background-size: 100%;
    margin-top: 8px !important;
}
.expire{
    background: url(../../img/expired.png) no-repeat;
    width: 35px;
    height: 35px !important;
    background-size: 100%;
    margin-top: 8px !important;
}*/

.sort-box{
	li:first-child{
		border-bottom:3px solid #ccc;
	}
}


/* Comment box */
.popup-container {
	.popup-head{
		border-bottom: 2px solid #ccc;
		.popup-title{
				    font-weight: bold;
    				text-transform: uppercase;
    				font-size: 18px;
		}
	}
	.button-positive{
		background: @brand-primary;
		border: 1px solid @brand-primary;
		b{
						color: @white;

}
}
}

//Verification
.verify-first {
	&.has-header {
		background-color: #fff;
		input {
			background-color: #EFEFEF;
		}
	}
	.verify-step-img {
		height: 130px;
	}
	.item-input {
		padding: 0;
	}
	input {
		background-color: #fff;
		height: 40px;
		border-color: #ccc !important;
		font-size: 16px;
		padding: 0;
		line-height: 43px;
		&:active, &:focus {
			border-color: @brand-primary !important;
		}
	}
	h5 {
		margin-bottom: 8px;
		font-size: 16px;
	}
	.info-top {
		padding: 10px 25px;
		margin-top: 15px;
		font-size: 14px;
		line-height: 17px;
	}
}
.bar.bar-footer.verify-btm-bar {
	padding: 0;
	button.button.aj-btn {
		margin: 0;
		font-size: 18px;
		line-height: 42px;
	}
}
.info-top {
		padding: 10px 25px;
		margin-top: 15px;
		font-size: 14px;
		line-height: 17px;
	}
// .verify-setp3 {
// 	height: 130px;
// }
.maxAttempts-div {
	.verify-step-img {
		height: 130px;
	}
	.btn-casup {
		line-height: normal;
		padding: 10px 8px;
		padding-left: 72px;
		position: relative;
		text-align: left;
		i {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: @balanced;
			color: #fff;
			padding: 13px 20px;
		}
		span {
			display: block;
			margin-top: 3px;
			font-size: 20px;
			font-weight: bold;
			color: #444;
		}
		&.activated {
			i {
				background-color: desaturate(darken(@balanced, 25%), 25%);
				// color: @brand-primary;
			}
			span {
				color: #fff;
			}

		}
	}
}
.with-prefix {
	position: relative;
	.prefix {
		position: absolute;
		font-size: 16px;
		top: 0;
		left: 0;
		padding: 10px 12px 7px;
		background-color: #ddd;
	}
	&.custom-offer-price {
		.prefix {
			padding: 12px 15px 11px;
		}
		input {
			padding-right: 8px;
			padding-left: 32px;
		}
	}
}
.list-inset .item.item-input.custom-offer-price input {
	padding-right: 8px;
}

.small-let {
	text-transform: none;
}

//reducing margin above n below cards
.card {
	margin: 10px;
}

//suggest a product
.bar.bar-dark.suggest-subhead {
	padding: 5px 8px 8px;
	height: auto;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}
.has-suggest-subhead {
	top: 100px;
	.item {
		i.icon {
			padding-top: 0;
			margin-right: 6px;
			color: @brand-primary;
			display: inline-block;
			vertical-align: top;
		}
	}
	.card {
		margin: 10px;
	}
	button.button.button-block {
		margin: 0;
	}
}

//User Profile
.aj-menu-bg .item.userprofile {
	border-bottom: 1px solid #2F2F2F;
	margin-bottom: 1px;
	box-shadow: inset 0 -1px 5px rgba(0,0,0,0.2);
}


.col.aboutus img {
    height: 70px;
}

//single product
.specs-sing {
	.header.item {
		border-bottom: 0;
	    background: #fff;
	    border-top: 1px solid #ECE9E9;
	    font-weight: bold;
	    color: #EF473A;
	    padding-top: 15px;
	    i.icon {
	    	margin-right: 8px;
	    }
	    hr {
	    	margin-bottom: 0;
	    	height: 1px;
	    	border: 0;
	    	border-bottom: 1px solid #CACACA;
	    	box-shadow: 0 0 0 rgba(0,0,0,0);
	    }
	}
	.item.intro {
		border-top: 0;
		padding-top: 8px;
	}
	.item.footer {
		padding-bottom: 7px;
		padding-top: 10px;
		// background-color: #fff;
		border-top: 1px solid #D6D4D4;
		border-bottom: 1px solid #D6D4D4;
		margin-top: 1px;
		// margin-bottom: 1px;
		font-weight: bold;
		&.activated {
			background-color: #EFECEC;
		}
	}
}

.popup .popup-buttons {
	min-height: 50px;
	margin-top: 5px;
	padding: 0;
	button.button {
		margin-right: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
}

//specs modal popup
.specs-modal {
	.has-header {
		background-color: #fff;
		padding-top: 10px;
	}
	.modal-title {
		margin-top: 1px;
	}
	h2 {
		color: #fff;
		margin: 0;
		margin-top: -4px;
	}
	.spec-card {
		padding-left: 8px;
		padding-right: 8px;
		.item.item-divider {
			padding: 5px 8px 3px;
			height: auto !important;
			min-height: 0;
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
			border: 0;
			color: #101010;
			background-color: #E6E6E6;
			i.icon {
				margin-right: 5px;
			}
		}
		.col {
			padding: 2px 5px;
			border-right: 0;
			&.col-25, &.col-33 {
				border-right: 1px solid #E0E0E0;
			}
			&.col-33 {
				min-width: 105px;
			}
		}
		.row {
			border-bottom: 1px solid #E0E0E0;
			// border-right: 1px solid #E0E0E0;
			// border-left: 1px solid #E0E0E0;
			margin-top: 0;
			padding-top: 0;
			padding-bottom: 0;
			background-color: #fff;
			.bold-title {
				// font-weight: bold;
				line-height: 17px;
				display: inline-block;
			}
			.normal-desc {
				line-height: 17px;
				display: inline-block;
			}
		}
	}
}

// Get the best prices!
.count-sellers {
	h4 {
		margin: 0;
		padding: 8px;
		border-bottom: 1px solid #B5B5B5;
		background-color: #fff;
	}
}
.map-content {
	.title-with-icon {
		padding-top: 8px;
		padding-left: 8px;
	}
	.address-inputs {
		padding-top: 0;
		label {
			padding: 3px 10px;
		}
	}
}

//full page search
.search-full-page {
	.sub-head-search {
		i.icon {
			font-size: 28px;
			margin-right: 5px;
			margin-left: 3px;
		}
		form {
			// width: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-webkit-flex: 1 0;
			-moz-box-flex: 1;
			-moz-flex: 1 0;
			-ms-flex: 1 0;
			flex: 1 0;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			-moz-align-items: center;
			align-items: center;
		}
		.button-clear {
			padding-left: 4px;
			i.icon:before {
				font-size: 30px;
			}
		}
	}
}

.req-img {
	height: 130px;
	margin: 25px auto;
	text-align: center;
	display: block;
	position: relative;
	left: -20px;
}

.bar.bar-footer.cancel-req-btn {
	background-color: transparent;
	border: 0 !important;
	background-image: none;
	-webkit-box-shadow: 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 #fff;
    -ms-box-shadow: 0 0 0 #fff;
    -o-box-shadow: 0 0 0 #fff;
    box-shadow: 0 0 0 #fff;
    margin-bottom: 3px;
	.title {
		top: 0;
		bottom: 5px;
		left: 5px;
		right: 5px;
		border: 0 !important;
		background-color: #F05857;
		color: #fff;
	}
}


.popup-comments {
	position: relative;
	i.icon {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 15;
		&:before {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 28px;
			padding: 11px 10px 9px;
		}
	}
	input.comment {
		padding-right: 40px;
		text-overflow: ellipsis;
	}
}

.get-price-head {
	i.icon.placeholder-icon:before {
		font-size: 26px;
		margin-right: 6px;
		margin-left: 2px;
	}
	button.button.button-clear {
		i.icon {
			&:before {
				font-size: 30px;
			}
		}
	}
}


.error-occ {
	border: 0;
	background-color: #eee;
	text-align: center;
	font-size: 15px;
}

//filter text
.filter-txt{
	line-height: 12px;
	text-align: left;
	i{
		    font-size: 21px;
		    float: left;
		    margin-right: 10px;
		    margin-left: 20px;
		    font-weight: 100;
		    color: @brand-primary;
	}
	sm{
		font-weight: 100;
		  display: -webkit-box;
			  max-width: 100%;
			  -webkit-line-clamp: 1;
			  -webkit-box-orient: vertical;
			  overflow: hidden;
			  text-overflow: ellipsis;

	}

}

.aj-slide-img {
	background-position: center;
	.started {
		bottom: 91px;
		width: 250px;
		margin-left: -124.5px;
		min-height: 0;
		line-height: 50px;
	}
}


.p-a-0 {padding: 0;}
.p-b-0 {padding-bottom: 0;}
.p-t-0 {padding-top: 0;}
.p-l-0 {padding-left: 0;}
.p-r-0 {padding-right: 0;}
.p-r-6 {padding-right: 6px;}
.p-b-7 {padding-bottom: 7px;}
.m-a-0 {margin: 0;}
.m-b-0 {margin-bottom: 0;}
.m-t-0 {margin-top: 0;}
.m-l-0 {margin-left: 0;}
.m-r-0 {margin-right: 0;}
.m-t-6 {margin-top: 6px;}
.b-r-1 {border-right: 1px solid #ddd;}

.rating-section {
	margin-bottom: 0; //was 10
	margin-top: 5px;
	text-align: center;
	img {
		margin-right: 5px;
	}
}
.comments-input {
	padding: 5px 8px;
	line-height: normal;
	border: 1px solid #ccc;
	margin-top: 10px;
}


.req-cards-c {
	&.card-list .card {
		-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
		-moz-box-shadow: 0 0 0 rgba(0,0,0,0);
		-ms-box-shadow: 0 0 0 rgba(0,0,0,0);
		-o-box-shadow: 0 0 0 rgba(0,0,0,0);
		box-shadow: 0 0 0 rgba(0,0,0,0);
		.item.item-divider {
			min-height: 26px !important;
			sm {
				margin-top: 2px;
				display: block;
			}
			h3 {
				margin-top: 4px !important;
			}
		}
		.offertxt {
			margin-bottom: 4px !important;
		}
		.big-txt {
			margin-top: -4px !important;
		}
		.item-wrapper-nr .col.col-75 {
			line-height: 63px;
			h2 {
				display: inline-block;
				vertical-align: middle;
				line-height: normal;
			}
		}
	}
}


.errors {
    padding-top: 65px;
    .errors h3 {
	    text-transform: uppercase;
	}
}
