<ion-view
	view-title=""
	class="chain"
	ng-init="view.init();">
	<ion-nav-title>
		Add Categories
    </ion-nav-title>
	<ion-nav-buttons side="right">
		<button
			class="button button-outline button-assertive icon-btn"
			ng-click="view.showDelete = !view.showDelete;">
			<i class="icon ion-trash-a"></i>
		</button>

		<button
			class="button button-outline button-assertive icon-btn"
			ng-click="App.navigate('categories')">
			<i class="icon ion-plus"></i>
		</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-assertive">
		<h2 class="title m-title">Your business categories are</h2>
	</div>

	<ion-content class="has-subheader">

		<ion-list show-delete="view.showDelete">

			<ion-item
				class="item-text-wrap item-icon-right cat-chain"
				ng-repeat="chains in view.categoryChains track by $index"
				ng-click="view.onChainClick(chains)">

				<ion-delete-button
					class="ion-trash-a"
					ng-click="view.removeItemFromChains(chains.subCategory.id)">
				</ion-delete-button>

				<div class="lighter-nh">
					{{chains.category.name}} <i class="ion-ios-arrow-forward"></i>
					<span class="darker">{{chains.subCategory.name}}</span>
				</div>

				<div class="highlight">
					{{view.getBrands(chains.brands)}}
				</div>
			</ion-item>

		</ion-list>

		</br>

		<h5
			class="subdued"
			ng-if="view.categoryChains.length == 0;">
			Choose the categories and brands you deal with.
			You shall receive requests based on the categories you select.
		</h5>

	</ion-content>

	<ion-footer-bar class="bar bar-footer with-btn verify-btm-bar">
		<button
			class="title button button-block button-assertive aj-btn"
			ng-disabled="view.categoryChains.length == 0;"
			ng-click="App.navigate('verify-begin')">
			Next
		</button>
	</ion-footer-bar>

</ion-view>
