<ion-view>

	<ion-nav-title>
		Select Categories
    </ion-nav-title>

	<ion-content ng-switch="view.display">

		<ion-spinner
			class="aj-spinner"
			ng-switch-when="loader">
		</ion-spinner>

		<ion-list ng-switch-when="noError">
			<div
				class="item item-thumbnail-left department-list"
				ng-repeat="category in view.parentCategories">

				<center>
					<h4 class="cat-sub"><!-- Lorem ipsum dolor set amet --></h4>
				</center>
				<center>
					<h2 class="cat-title">{{category.name}}</h2>
				</center>

				<div class="row row-center">
					<div class="col "ng-repeat="subCategory in category.children | orderBy:'sort_order' | limitTo:4" >
						<div
							class="item item-avatar border-none bg-none"
							ng-click="view.onSubcategoryClick(category.children, subCategory.id)">
							<img ng-src="{{subCategory.image.src}}">
						</div>
					</div>
					<div class="col">
						<div
							class="item item-avatar more-link"
							ng-click="App.navigate('sub-categories', {parentID: category.id})">
							<i class="ion-more"></i>
							<span class="ico-text">More</span>
						</div>
					</div>
				</div>
			</div>
			<br>
				<img src="./img/upcoming.png" class="center-block" width="200px"/>
		</ion-list>

		<aj-error
			ng-switch-when="error"
			error-type="view.errorType"
			tap-to-retry="view.onTapToRetry()">
		</aj-error>

	</ion-content>
</ion-view>
