<ion-view
	view-title="Category Chains"
	ng-init="view.setCategoryChains()"
	class="chain">

	<ion-nav-buttons side="right">
		<button
			class="button button-outline button-assertive icon-btn"
			ng-click="App.navigate('categories')">
			<!-- Add More -->
			<i class="icon ion-plus"></i>
		</button>
	</ion-nav-buttons>

	<div class="bar bar-subheader bar-dark">
		<h2 class="title m-title">Your business categories are</h2>
	</div>

	<ion-content>

		</br></br>

		<ion-list>

			<ion-item
				class="item-text-wrap item-icon-right"
				ng-repeat="chains in view.categoryChains">

				<i
					class="icon ion-close-circled"
					ng-click="view.removeItemFromChains(chains.subCategory.id)">
				</i>

				{{chains.category.name}} > {{chains.subCategory.name}} > {{view.getBrands(chains.brands)}}
			</ion-item>

		</ion-list>

		</br>

		<h5 class="subdued">There should always be atleast one category chain selected</h5>

	</ion-content>

	<ion-footer-bar class="bar bar-footer with-btn">
		<button
			class="title button button-block button-assertive"
			ng-disabled="view.categoryChains.length == 0;"
			ng-click="App.navigate('verify-begin')">
			Next
		</button>
	</ion-footer-bar>
</ion-view>
