<ion-view>

	<ion-nav-title>
		{{view.title}}
    </ion-nav-title>

	<ion-content class="sub-categories">

		<ion-list>

			<div 
				class="col col-50 border-card"
				ng-repeat="category in view.subCategories | orderBy:'sort_order'"
				ng-click="App.navigate('brands', {categoryID: category.id})">
				
					<img 
						ng-src="{{category.image.src}}" 
						class="aj-img center-block img-responsive">

					<h3 class="text-center ">
						{{category.name}}
					</h3>
			</div>

		</ion-list>

	</ion-content>
</ion-view>
