<ion-view 
	view-title="Details"
	ng-init="view.init();">

	<ion-content class="business-details">

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-briefcase"></i>
					Business details
				</h5>
			</div>
		</div>

		<div class="card m-red">
			<div class="list bg-white form-field">
				<label class="item item-input item-stacked-label">
					<i class="icon ion-briefcase ico-out"></i>
					<span class="input-label">Business Name</span>
					<input
						type="text"
						ng-model="view.businessName">
				</label>

				<label class="item item-input item-stacked-label">
					<i class="icon ion-person ico-out"></i>
					<span class="input-label">Full Name</span>
						<input
						type="text"
						ng-model="view.name">
				</label>

				<label class="item item-input item-stacked-label">
				<i class="icon ion-ios-telephone ico-out"></i>
					<span class="input-label">Phone Number</span>
					<input
						type="tel"
						minlength="10"
						maxlength="10"
						ng-pattern="App.onlyNumbers"
						ng-model="view.phone"
						ng-readonly="view.myProfileState">
				</label>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-location"></i>
					Your Location
				</h5>
			</div>
		</div>

		<div class="card m-red">

			<div class="the-loation" ng-if="view.confirmedAddress==='';">
				<div class="row">
					<div class="col-75">
						<i class="icon ion-location ico-loc"></i>
						<button
							class="button button-outline button-assertive"
							ng-click="view.onChangeLocation()">
							<i class="icon ion-plus-round"></i> Add your Address
						</button>
					</div>
					<div class="col col-25">

					</div>
				</div>
			</div>

			<div class="the-loation" ng-if="view.confirmedAddress!=='';">
				<div class="row">
					<div class="col-75">
						<i class="icon ion-location ico-loc"></i>
						<p>{{view.confirmedAddress}}</p>
					</div>
					<div class="col col-25">
						<button
							class="button button-outline button-assertive"
							ng-click="view.onChangeLocation()">
							Change
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-arrow-graph-up-right"></i>
					Working Days
				</h5>
			</div>
		</div>

		<div class="card m-red">
			<div class="row platop">
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[0].selected">
						</label>
						Mon
					</li>
				</div>
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[1].selected">
						</label>
						Tue
					</li>
				</div>
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[2].selected">
						</label>
						Wed
					</li>
				</div>
			</div>
			<div class="row platop">
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[3].selected">
						</label>
						Thur
					</li>
				</div>
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[4].selected">
						</label>
						Fri
					</li>
				</div>
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[5].selected">
						</label>
						Sat
					</li>
				</div>
			</div>
			<div class="row platop">
				<div class="col">
					<li class="item item-checkbox">
						<label class="checkbox">
							<input type="checkbox" ng-model="view.workingDays[6].selected">
						</label>
						Sun
					</li>
				</div>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-arrow-graph-up-right"></i>
					Work Timings
				</h5>
			</div>
		</div>

		<div class="card m-red">
			<div class="row platop">
				<div class="col">
					<ion-item ng-click="view.addWorkTimings('start')">
						Start Time: {{view.workTimings.start}}
					</ion-item>
					<ion-item ng-click="view.addWorkTimings('end')">
						End Time: {{view.workTimings.end}}
					</ion-item>
				</div>
			</div>
		</div>

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-arrow-graph-up-right"></i>
					Deliverable Area
				</h5>
			</div>
		</div>

		<div class="card m-red">
			<div class="row platop">
				<div class="col">
					<div class="row">
						<div class="col">
							<h3 class="m-t-0 view-rad">
								<b>{{view.delivery.radius}} <small>Kms</small></b>
								<i class="icon-truck">
									<img src="./img/delivery.png" alt="">
								</i>
							</h3>
							<h5 class="text-left">
								From your selected location, the radius of the area within which you wish to deliver the goods
							</h5>
						</div>
					</div>

					<div class="item range range-assertive range-with-incdec">
						<i class="icon ion-minus-round" ng-click="view.delivery.minus();"></i>
						<input
							type="range"
							min="1"
							max="100"
							ng-model="view.delivery.radius">
						<i class="icon ion-plus-round" ng-click="view.delivery.plus();">
						</i>
					</div>
				</div>
			</div>
		</div>


		<div 
			class="item item-checkbox nobg terms"
			ng-if ="!view.myProfileState" >
			<label class="checkbox">
				<input type="checkbox" ng-model="view.terms">
			</label>
			 I agree with the terms & conditions 
		</div>

		<ion-item class="nobg">
			<button
				class="title button button-block button-assertive"
				ng-disabled="!view.terms"
				ng-if ="!view.myProfileState"
				ng-click="view.onNext()">
				Next
			</button>
			
			<button
				class="title button button-block button-assertive"
				ng-if ="view.myProfileState"
				ng-click="view.onNext()">
				Save
			</button>
		</ion-item>

   	</ion-content>

</ion-view>
