<ion-view google-search-tap-disable>

	<ion-nav-title>
		Choose location
	</ion-nav-title>

	<div class="bar bar-subheader item-input-inset get-price-head">
		<label class="item-input-wrapper">
			<input
				id="locationSearch"
				type="text"
				placeholder="Search for location"
				data-tap-disabled="true"
				google-map-search
				on-place-change="view.onPlaceChange(location);"
				ng-model="view.searchText">
		</label>

		<button
			class="button button-clear"
			ng-click="view.searchText = ''">
			<i class="icon ion-android-close"></i>
		</button>
	</div>

    <ion-content class="has-subheader map-content">

    	<google-map
			class="aj-big-map"
			style="margin: 0 10px; margin-top: 18px;"
			on-create="view.onMapCreated(map);">
		</google-map>

		<div class="row row-fluid">
			<div class="col p-b-0">
				<h5 class="text-left margin-none title-with-icon text-primary upper-case h5">
					<i class="icon ion-ios-location"></i>
					Delivery Details
				</h5>
			</div>
		</div>

		<div class="address-inputs">

			<div class="row p-b-0 p-t-0">
				<div class="col p-b-0">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 1"
							ng-model="view.address.address_line1">
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col p-b-0">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 2"
							ng-model="view.address.address_line2">
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 3"
							ng-model="view.address.address_line3">
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col p-b-0 p-r-0">
					<label class="item item-input no-input">
						City: {{view.address.city}}
					</label>
				</div>
				<div class="col p-b-0 p-l-0">
					<label class="item item-input no-input">
						Pincode: {{view.address.postal_code}}
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col p-r-0">
					<label class="item item-input no-input">
						State: {{view.address.state}}
					</label>
				</div>
				<div class="col p-l-0">
					<label class="item item-input no-input">
						Country: {{view.address.country}}
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col p-t-0">
				<h5 class="fin text-center" style="margin-top: 10px;"><b>Note:</b> Please enter the correct address</h5>
			</div>
		</div>

		<ion-item
			class="nobg border-none">
			<button
				style="width:50%"
				class="button button-dark btn-clear"
				ng-click="view.getCurrent()">
				<i class="ion ion-android-locate"></i>
				Get my Location
			</button>
			<button
				style="width:49%"
				class="button button-assertive btn-clear"
				ng-click="view.confirmLocation()">
				Confirm Location
			</button>
		</ion-item>

    </ion-content>

	<!-- <ion-footer-bar class="bar-assertive p-a-0 c-l-footer">
		<button
			class="button button-dark btn-clear pull-left"
			ng-click="view.getCurrent()">
			<i class="ion ion-android-locate"></i>
			Get my Location
		</button>

		<button
			class="button button-assertive btn-clear pull-right"
			ng-click="view.confirmLocation()">
			Confirm Location
		</button>
	</ion-footer-bar> -->

</ion-view>

