<ion-modal-view>

	<ion-header-bar style="height:55px;" no-tap-scroll="true">
		<div class="row row-fluid">
			<div class="col col-20"></div>
			<div class="col col-60">
				<h4>Confirm your location</h4>
			</div>
			<div class="col col-20">
				<h2 ng-click="view.location.modal.hide()" class="text-right">
					<i class="ion ion-ios-close-outline"></i>
				</h2>
			</div>
		</div>
	</ion-header-bar>

	<ion-content class="map-content">
		<div class="address-inputs">
			<div class="row p-b-0">
				<div class="col p-b-0">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 1"
							ng-model="view.location.address.address_line1">
					</label>
				</div>
			</div>
			<div class="row p-b-0">
				<div class="col p-b-0">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 2"
							ng-model="view.location.address.address_line2">
					</label>
				</div>
			</div>
			<div class="row p-b-0">
				<div class="col">
					<label class="item item-input">
						<input
							type="text"
							placeholder="Address Line 3"
							ng-model="view.location.address.address_line3">
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col p-b-0 p-r-0 b-r-1">
					<label class="item item-input no-input">
						City: {{view.location.address.city}}
					</label>
				</div>
				<div class="col p-b-0 p-l-0">
					<label class="item item-input no-input">
						Pincode: {{view.location.address.postal_code}}
					</label>
				</div>
			</div>

			<div class="row p-b-0">
				<div class="col p-r-0 b-r-1">
					<label class="item item-input no-input">
						State: {{view.location.address.state}}
					</label>
				</div>
				<div class="col p-l-0">
					<label class="item item-input no-input">
						Country: {{view.location.address.country}}
					</label>
				</div>
			</div>
		</div>

		<google-map
			class="aj-big-map"
			on-create="view.location.onMapCreated(map)">
		</google-map>

	</ion-content>

	<ion-footer-bar class="bar bar-footer bar-custom-footer with-btn">
		<button
			class="button button-assertive btn-action"
			ng-click="view.onConfirmLocation()">
			Confirm Location
		</button>

		<button
			class="button button-dark btn-action"
			ng-click="view.location.getCurrent()">
			<i class="ion ion-android-locate"></i>
			Get my Location
		</button>
	</ion-footer-bar>

</ion-modal-view>

