/* Empty. Add your own CSS if you like */
.aj-alert {
	background-color: #f05868;
}

.aj-bg {
	background-color: #f05868;
}

.platform-android .bar .title {
      font-size: 16px;
	  line-height: 44px;
	  font-weight: 600;
}

/*.aj-img{
	height: 250px;
}*/

.aj-slide-img {
	background-repeat: no-repeat;
	background-size: cover;
}

.aj-slide-img .started {
	position: absolute;
	bottom: 150px;
	width: 200px;
	margin-left:-100px;
	left:50%;
}

.aj-slide-img .register {
	position: absolute;
	bottom: 210px;
	width: 200px;
	margin-left:-100px;
	left:50%;
}

.aj-logo {
	color:#888787;
}

.aj-menutext .item{
	color: #FFF;
}

.aj-menu-bg {
	background-color: #252525;
}

.aj-menu-bg .item{
	background-color: inherit;
	border-color: #252525;
}

.aj-menu-bg i{
	margin-right: 10px;
}

.aj-menu-bg hr {
	border: none;
    height: 3px;
    background-color: #444444;
    margin-left: 10px;
    margin-right: 10px;
}

.aj-right-popover {
	padding: 2px 10px 0 10px;
}

.aj-right-popover .aj-div{
	height: 25px;
}

.aj-right-popover hr{
    border: none;
    height: 2px;
    background-color: #000;
}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before {
   background: #f35a59 !important;
  border-color: #f35a59!important;
}

/*Ionic popover*/


.platform-ios .popover {
	height: 120px;
}

.aj-btn {
	 position: absolute;
	  width: 180px;
	  left: 0%;
	  right: 0%;
	  margin: auto;
	  font-weight: 600;
}

.aj-text .list{
	margin-left: 40px;
	margin-right: 40px;
}

.aj-text .gray {
	color: #999494;
}

.aj-text input, h5, h3, h4, .center{
	text-align: center;
}

.aj-text .item{
	border-style: none none solid none;
}

.aj-text .no-border{
	border: none;
}

.aj-refresher .spinner, .aj-spinner svg{
  display: block;
  margin: 65% auto;
  stroke: #F8585C;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0px 2px 6px #B6B6B6;
}
.aj-refresher .spinner svg circle{
	stroke: #F8585C;
}

.aj-refresher .spinner{
	margin: 0% auto !important;
}

.aj-verify-spinner svg{
  display: block;
  margin: 0% auto;
  stroke: #F8585C;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0px 2px 6px #B6B6B6;
}

/* Single product css*/
.aj-sp-img {
	width: 100%;
	height: 400px;
}

/* maps */
.aj-big-map {
	height: 200px;
	margin: 0; 
	padding: 0;
}

.pac-container {
	width: 340px !important;
}

/*card on phone verification */
.cardTop {
	margin-top: 28%;
}

/* sort */
.new-requests-sort {
	height: 376px !important;
}

.offer-history-sort {
	height: 332px !important;
}

.successful-offer-sort {
	height: 190px !important;
}

/* credit-history*/
.credit-sub-header{
	height: 80px !important;
}

.has-credit-sub-header{
	top: 125px !important;
}
